@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Iconos */
/* Azul oscuro */
/* #0d4748 Verde oscuro */
/* #34694e Verde oscuro para títulos */
/* #3d8232 Verde claro */
/* Gris claro */
/* Gris oscuro, texto */
/*
 * NOTE: Media Querys
 */
/* min-width: 0px */
/* min-width: (400px + 1px) */
/* min-width: (1024px + 1px) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  background: transparent;
  text-decoration: none;
  position: relative;
}

/**
* Global
**/
body {
  color: #023670;
  font-size: 16px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  position: relative;
}

img {
  width: 100%;
  height: auto;
}

a {
  display: inline-block;
  color: #023670;
}
a:visited {
  color: #023670;
}

button,
input {
  cursor: pointer;
  outline: 0;
}

main {
  padding: 0px 5% 5%;
  padding-top: 5%;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
  min-height: calc(100vh - 96px - 537px - 62px);
}
main.home-page {
  padding-top: 0%;
}

.col-paragraph {
  position: relative;
  display: block;
  vertical-align: top;
  width: 100%;
  line-height: 22px;
  font-size: 17px;
  margin: .5em 0;
  -webkit-column-count: 1;
  /* Chrome, Safari, Opera */
  -moz-column-count: 1;
  /* Firefox */
  column-count: 1;
  -webkit-column-gap: 0px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 0px;
  /* Firefox */
  column-gap: 0px;
}
.col-paragraph:first-of-type {
  margin-left: 0;
}
.col-paragraph:last-of-type {
  margin-right: 0;
}

/**
* Heading
**/
h1 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  color: #023670;
  font-size: 2.5em;
  line-height: 1em;
  margin: .5em 0;
}

h2 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  color: #023670;
  font-size: 1.6em;
  line-height: 1em;
  margin: .25em 0;
  margin-bottom: .4em;
}

h3 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  color: #023670;
  font-size: 1.1em;
  line-height: 1.1em;
  margin-bottom: .7em;
}

.photograpy-primary,
.photograpy-secondary {
  position: relative;
  height: auto;
  display: inline-block;
}
.photograpy-primary a,
.photograpy-secondary a {
  float: left;
}

.photograpy-primary {
  margin-bottom: 3em;
}

/**
* Responsive
**/
@media (min-width: 769px) {
  main {
    min-height: calc(100vh - 96px - 205px - 38px);
  }
}
@media (min-width: 1025px) {
  main {
    min-height: calc(100vh - 88px - 231px - 50px);
  }
}
@font-face {
  font-family: 'modern_pictogramsnormal';
  src: url("../../font/modernpictogram/modernpics-webfont.woff2") format("woff2"), url("../../font/modernpictogram/modernpics-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Contenedor del Header */
header {
  width: 100%;
  height: 6em;
  position: relative;
  background: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 4;
  /* Lineas que arman el botón hamburguesa del Menú Mobile */
  /* Caja contenedora del Logo */
}
header hr {
  height: 3px;
  width: 100%;
  margin: 5px 0;
  border: 0;
  background: #023670;
}
header .logo {
  width: 12em;
  height: 100%;
  display: inline-block;
  float: left;
  padding: 1em;
  position: relative;
  z-index: 200;
  /* Link a Home desde el Logo */
  /* Link a Home desde Logo */
}
header .logo a {
  display: inline-block;
  line-height: 4;
  /* Imagen Logo al 100% */
}
header .logo a img {
  max-width: 100%;
  position: relative;
  vertical-align: middle;
}

.menu {
  padding: 0;
  width: 100%;
  right: 0;
  position: absolute;
  line-height: 6em;
  height: 6em;
  display: inline-block;
}

/* Contenedor del Botón Hamburguesa */
.button-menu {
  width: 1.5em;
  position: relative;
  float: right;
  right: 2em;
  /* Botón Hamburguesa */
}
.button-menu button {
  border: 0;
  background: transparent;
  width: 100%;
  position: relative;
  vertical-align: middle;
  padding: 1em 0;
  cursor: pointer;
}

/* Caja contenedora de elementos del menú */
.menu-element {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: 6;
}
.menu-element:before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  right: 0;
  top: -1px;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: inline-block;
  z-index: 10000;
}
.menu-element ul {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 328px;
  text-align: right;
  right: -100%;
  background: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  /* Elementos contenidos en el menú */
  /* items del menu */
}
.menu-element ul li {
  border-bottom: solid 2px #023670;
  line-height: 5em;
  text-align: left;
  padding: 0 2em;
}
.menu-element ul li a {
  display: inline-block;
  color: #023670;
  width: 100%;
  position: relative;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
}
.menu-element ul li a:after {
  content: '';
  width: .5em;
  height: .5em;
  position: absolute;
  display: inline-block;
  background-color: #023670;
  border-radius: 50%;
  right: 0;
  top: calc((80px / 2) - .25em);
}
.menu-element ul li:last-of-type {
  border: 0;
}
.menu-element ul li:hover {
  background-color: rgba(2, 54, 111, 0.7);
}
.menu-element ul li:hover a {
  color: #ffffff;
}
.menu-element ul li:hover a:after {
  background-color: #ffffff;
}

/* navegación en móviles */
@media (min-width: 500px) {
  header .logo {
    width: 14em;
    left: 1em;
  }

  /* Caja contenedora de elementos del menú */
  .menu-element ul {
    width: 50%;
  }
}
@media (min-width: 900px) {
  /* Caja contenedora de elementos del menú */
  .menu-element ul {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  header {
    height: 5.5em;
  }
  header .logo {
    width: 20%;
    height: 100%;
    display: inline-block;
    float: left;
    padding: .5em 1em;
    position: relative;
    left: 3em;
  }
  header .logo a {
    width: 13em;
  }
  header .logo a img {
    max-width: 100%;
    position: relative;
    vertical-align: middle;
  }

  /* Contenedor del Botón Hamburguesa */
  .button-menu {
    display: none;
  }

  /* menú en desktop, 1024px en adelante */
  .menu-element {
    /* Fin menú en desktop, 1024px en adelante */
  }
  .menu-element ul {
    height: 100%;
    width: calc(14.4em + 392.2px);
    float: right;
    position: relative;
    right: 2em;
    background-color: transparent;
    box-shadow: none;
    top: 0;
  }
  .menu-element ul li {
    padding: 0 1.8em;
    float: left;
    line-height: calc(5.5em - 6px);
    border: 0;
  }
  .menu-element ul li:hover {
    background-color: transparent;
  }
  .menu-element ul li:hover a {
    color: #023670;
  }
  .menu-element ul li a {
    color: #023670;
    width: 100%;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: bold;
    font-variant: normal;
    font-style: normal;
    display: inline-block;
    text-align: center;
  }
  .menu-element ul li a:after {
    content: '';
    display: none;
  }
  .menu-element ul li a:hover, .menu-element ul li a.active {
    border-bottom: solid 6px #023670;
  }
}
.global-footer {
  clear: both;
  background-color: #f2f1f1;
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  padding: 1em;
  text-align: center;
}
.global-footer p {
  line-height: 22px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  margin: 0;
  color: #023670;
}
.global-footer .logo {
  width: 12em;
  margin: auto;
}

.search,
.information,
.site-map,
.institutional {
  margin-top: 2em;
  display: block;
  width: 100%;
}

.institutional {
  margin-top: 0;
}

.site-map li {
  padding: .35em 0;
  color: #023670;
}
.site-map li a:hover {
  text-decoration: underline;
}

.turn-online a {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  color: #023670;
  text-decoration: underline;
}

.line-phone span {
  line-height: 1.4em;
  color: #023670;
}

.search-form {
  width: 100%;
  position: relative;
}

.search-input-container {
  width: calc(100% - 40px);
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.search-input {
  border: 0;
  background-color: #023670;
  color: #ffffff;
  line-height: 2.4em;
  padding: 0 1em;
  width: 100%;
  font-size: 1em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.search-input:focus {
  outline: 0;
}

.search-button {
  font-size: 0px;
  display: inline-block;
  position: relative;
  -webkit-appearance: none;
  margin: 0px;
  border: 0px;
  width: 30px;
  float: right;
  margin-top: 6px;
}
.search-button:after, .search-button:before {
  content: '';
  display: inline-block;
  position: relative;
}
.search-button:before {
  width: 14px;
  height: 14px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: solid 3px #023670;
}
.search-button:after {
  width: 3px;
  height: 12px;
  background: #023670;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
  border-radius: 20%;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  bottom: -6px;
  left: 0px;
}

.extra-information {
  background-color: #023670;
  padding: 1.5em 3em;
  position: relative;
  width: 100%;
  display: block;
  color: #ffffff;
  font-size: .8em;
  text-align: center;
}
.extra-information a {
  text-decoration: underline;
  color: #ffffff;
}
.extra-information a:hover {
  background-color: #ffffff;
  color: #023670;
}

.turn-online {
  display: none;
  position: relative;
}
.turn-online:hover:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(2, 54, 111, 0.7);
  position: absolute;
  z-index: 10;
  padding: 10px;
  border-radius: 10px;
  left: -6px;
  top: -9px;
}
.turn-online:hover:after {
  content: 'No disponible';
  text-align: center;
  color: #023670;
  z-index: 12;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  left: 0px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
}

/**
* Responsive
**/
@media (min-width: 769px) {
  .global-footer {
    display: flex;
    text-align: left;
  }
  .global-footer .logo {
    margin: 0px;
  }

  .search,
  .information,
  .site-map,
  .institutional {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin: 0px;
    margin-right: 4%;
  }

  .search {
    width: 50%;
    margin-right: 0px;
  }

  .turn-online:hover:before {
    left: -22px;
  }
  .turn-online:hover:after {
    left: -12px;
  }

  .extra-information {
    padding: 1.5em 3em;
    text-align: left;
  }
  .extra-information span:last-of-type {
    float: right;
  }
}
@media (min-width: 1025px) {
  .global-footer {
    padding: 2em 4em;
  }

  .turn-online:hover:before {
    left: -19px;
  }
  .turn-online:hover:after {
    left: -11px;
  }

  .search,
  .information,
  .site-map,
  .institutional {
    width: 23%;
  }

  .institutional,
  .information {
    margin-right: 4%;
  }

  .information,
  .search {
    margin-top: 0em;
  }
}
.tooltip-box {
  display: none;
  width: 2.5em;
  float: right;
  position: fixed;
  right: 2.5em;
  z-index: 3;
  top: 140px;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin: .3em 0;
  cursor: pointer;
}
.tooltip:before {
  content: '';
  display: inline-block;
  color: #ffffff;
  width: 2.5em;
  height: 2.5em;
  position: relative;
  top: -11px;
  border-radius: 50%;
  background-color: #023670;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #ffffff;
  color: #00428c;
  text-align: center;
  border-radius: 6px;
  padding: .4em 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 135%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
}
.tooltip .tooltip-text:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent #ffffff;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
}
.tooltip .tooltip-img-content {
  top: -10px;
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  overflow: hidden;
}

.tooltip-text-primary {
  visibility: visible !important;
}

.tooltip-active:before {
  background-color: #00428c;
}

.tooltip-online-turn {
  width: 23px;
  position: relative;
  left: 9px;
  top: 7px;
}

.tooltip-address {
  width: 23px;
  position: relative;
  left: 9px;
  top: -34px;
}

.tooltip-contact {
  width: 23px;
  position: relative;
  left: 9px;
  top: -75px;
}

.tooltip-schedule {
  width: 23px;
  position: relative;
  left: 9px;
  top: -114px;
}

#turn-tooltip {
  display: none;
}

/**
* Responsive
**/
@media (min-width: 769px) {
  .tooltip-box {
    display: block;
  }
}
.element-list {
  position: relative;
}
.element-list h3 {
  width: 100%;
  line-height: 2em;
  font-size: 1.3em;
}

.information-item {
  background-color: #f2f1f1;
  position: relative;
  vertical-align: middle;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-bottom: 1em;
}
.information-item:after {
  content: '';
  width: .7em;
  height: .7em;
  display: inline-block;
  background-color: #023670;
  border-radius: 50%;
  position: absolute;
  left: calc(0em - .35em);
  top: calc(50% - .35em);
}
.information-item:last-of-type {
  margin-right: 0;
}
.information-item:hover {
  background-color: rgba(2, 54, 111, 0.7);
}

.especialidades-title {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #00428c;
  padding: 1em;
  cursor: pointer;
  width: 100%;
}
.especialidades-title:hover {
  color: #ffffff;
}

.especialidades-subtitle {
  font-size: 21px;
  margin-bottom: 18px;
}

.especialista-item {
  color: #7b7b79;
  display: block;
}

/* Logos / Coberturas Médicas */
.logotypes-medic {
  margin-bottom: 1em;
}
.logotypes-medic img {
  display: block;
  width: 95%;
  margin: auto;
}

.show {
  display: block !important;
}

/**
* Responsive
**/
@media (min-width: 769px) {
  .information-item,
  .logotypes-medic {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin-right: 3%;
  }
}
@media (min-width: 1025px) {
  .information-item,
  .logotypes-medic {
    width: 18%;
    margin-right: 1%;
  }
}
.modal-component {
  position: fixed;
  background-color: rgba(2, 54, 111, 0.7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
}
.modal-component .modal-container, .modal-component .modal-video .modal-container-video, .modal-video .modal-component .modal-container-video {
  background-color: #ffffff;
  padding: 2em;
  width: 90%;
  margin: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  top: calc(50vh - 150px);
  position: relative;
  color: #023670;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.modal-component .modal-container .button-close-information, .modal-component .modal-video .modal-container-video .button-close-information, .modal-video .modal-component .modal-container-video .button-close-information {
  margin-top: 0px;
  font-size: 0px;
  border: 0;
  background: transparent;
  cursor: pointer;
  float: right;
}
.modal-component .modal-container .button-close-information:before, .modal-component .modal-video .modal-container-video .button-close-information:before, .modal-video .modal-component .modal-container-video .button-close-information:before, .modal-component .modal-container .button-close-information:after, .modal-component .modal-video .modal-container-video .button-close-information:after, .modal-video .modal-component .modal-container-video .button-close-information:after {
  content: '';
  background-color: #023670;
  margin: auto;
  position: relative;
  display: block;
  transform: rotate(45deg);
}
.modal-component .modal-container .button-close-information:before, .modal-component .modal-video .modal-container-video .button-close-information:before, .modal-video .modal-component .modal-container-video .button-close-information:before {
  height: 3px;
  width: 25px;
  top: calc(12.5px + 1.5px);
}
.modal-component .modal-container .button-close-information:after, .modal-component .modal-video .modal-container-video .button-close-information:after, .modal-video .modal-component .modal-container-video .button-close-information:after {
  width: 3px;
  height: 25px;
}
.modal-component .modal-container h2, .modal-component .modal-video .modal-container-video h2, .modal-video .modal-component .modal-container-video h2 {
  font-size: 1.4em;
  display: block;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
}
.modal-component .modal-container h4, .modal-component .modal-video .modal-container-video h4, .modal-video .modal-component .modal-container-video h4 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  margin-bottom: 20px;
  font-size: 1.3em;
  text-transform: capitalize;
  position: relative;
  color: #7b7b79;
}
.modal-component .modal-container h4:before, .modal-component .modal-video .modal-container-video h4:before, .modal-video .modal-component .modal-container-video h4:before {
  content: '';
  width: 5px;
  height: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #023670;
  display: inline-block;
  bottom: 4px;
  position: relative;
  margin-right: 10px;
}
.modal-component .modal-container p, .modal-component .modal-video .modal-container-video p, .modal-video .modal-component .modal-container-video p {
  font-size: 0.9em;
  line-height: 1.3em;
  color: black;
}
.modal-component .modal-container p:first-of-type, .modal-component .modal-video .modal-container-video p:first-of-type, .modal-video .modal-component .modal-container-video p:first-of-type {
  margin-top: 0;
}
.modal-component .modal-container p:last-of-type, .modal-component .modal-video .modal-container-video p:last-of-type, .modal-video .modal-component .modal-container-video p:last-of-type {
  margin-bottom: 0;
}

.modal-video .modal-container-video {
  width: 75%;
  top: 50px;
}
.modal-video .modal-container-video button {
  border: 0;
  background: transparent;
  cursor: pointer;
  float: right;
  margin-top: -90px;
  margin-right: -50px;
}
.modal-video .modal-container-video button:before, .modal-video .modal-container-video button:after {
  content: '';
  background-color: #023670;
  margin: auto;
  position: relative;
  display: block;
  transform: rotate(45deg);
}
.modal-video .modal-container-video button:before {
  height: 3px;
  width: 25px;
  top: calc(12.5px + 1.5px);
}
.modal-video .modal-container-video button:after {
  width: 3px;
  height: 25px;
}
.modal-video .modal-container-video button:before, .modal-video .modal-container-video button:after {
  background-color: #ffffff;
}
.modal-video .modal-container-video video {
  width: 100%;
}

@media (min-width: 500px) {
  .modal .modal-container h2, .modal-video .modal-container h2, .modal-video .modal-container-video h2 {
    font-size: 2em;
  }
  .modal .modal-container li.col-3, .modal-video .modal-container li.col-3, .modal-video .modal-container-video li.col-3 {
    width: 48%;
    display: inline-block;
    white-space: nowrap;
  }
}
@media (min-width: 700px) {
  .modal .modal-container, .modal-video .modal-container, .modal-video .modal-container-video {
    padding: 3em;
    width: 70%;
  }
  .modal .modal-container .button-close-information, .modal-video .modal-container .button-close-information, .modal-video .modal-container-video .button-close-information {
    margin-top: -25px;
  }
  .modal .modal-container li.col-3, .modal-video .modal-container li.col-3, .modal-video .modal-container-video li.col-3 {
    width: 30%;
  }
}
/**
* Item information
**/
.prevention-item {
  padding: 1em;
  color: #7b7b79;
  background-color: #f2f1f1;
  display: block;
  margin: 1em 0;
}
.prevention-item:nth-child(even) {
  width: 100%;
}
.prevention-item:nth-child(odd) {
  width: 100%;
}
.prevention-item h2 {
  margin-top: 0;
}
.prevention-item p {
  font-size: 1em;
  line-height: 1.2em;
}

/**
* Responsive
**/
@media (min-width: 769px) {
  .prevention-item:nth-child(even) {
    width: 100%;
  }
  .prevention-item:nth-child(odd) {
    width: 75%;
  }
}
@media (min-width: 1025px) {
  .prevention-item:nth-child(even) {
    width: 75%;
  }
  .prevention-item:nth-child(odd) {
    width: 50%;
  }
}
/**
* Breadcrum
**/
.box-container-breadcrum {
  width: 100%;
  display: block;
  margin-bottom: 1.5em;
}
.box-container-breadcrum a {
  font-size: .9em;
}
.box-container-breadcrum a.active {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  color: #023670;
}
.box-container-breadcrum a.active:after {
  display: none;
}
.box-container-breadcrum a:after {
  content: '';
  width: .25em;
  height: .25em;
  display: inline-block;
  background-color: #023670;
  margin: 0 1em;
  border-radius: 50%;
  position: relative;
  top: -2px;
}

/**
* Responsive
**/
/* Item explicación de fotografia */
.box-description {
  z-index: 2;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
}

/**
* Responsive
**/
@media (min-width: 769px) {
  .box-description {
    margin-left: 5%;
    margin-right: 5%;
    width: 30%;
    background-color: #ffffff;
    color: #00428c;
    line-height: 1.1em;
    border-radius: .5em;
    opacity: .8;
    padding: 1em;
    margin: 1em;
    position: absolute;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .flecha-top:before,
  .flecha-bottom:before,
  .flecha-left:before,
  .flecha-right:before {
    content: '';
    position: absolute;
    border-style: solid;
  }

  .flecha-right:before {
    top: 50%;
    left: 100%;
    margin-top: -8px;
    border-width: 8px;
    border-color: transparent transparent transparent #ffffff;
  }

  .flecha-left:before {
    top: 50%;
    right: 100%;
    margin-top: -8px;
    border-width: 8px;
    border-color: transparent #ffffff transparent transparent;
  }

  .flecha-top:before {
    bottom: 100%;
    right: 50%;
    margin-top: -8px;
    border-width: 8px;
    border-color: transparent transparent #ffffff transparent;
  }

  .flecha-bottom:before {
    top: calc(100% + .5em);
    right: 50%;
    margin-top: -8px;
    border-width: 8px;
    border-color: #ffffff transparent transparent transparent;
  }

  #box-1 {
    top: 50%;
    left: 5%;
  }

  #box-2 {
    top: 10%;
    right: 5%;
  }

  #box-3 {
    top: -18%;
    left: 10%;
  }

  #box-4 {
    bottom: -17%;
    right: 10%;
    z-index: 200;
  }

  #box-5,
  #box-8 {
    right: 38%;
    top: 30%;
  }

  #box-6,
  #box-9 {
    left: 10%;
    top: -18%;
  }

  #box-7,
  #box-10 {
    right: 10%;
    bottom: -18%;
    z-index: 200;
  }
}
@media (min-width: 1025px) {
  .box-description {
    width: 25%;
  }
}
	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/07/2016 08:47
  	*/
@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"), url("./Flaticon.woff") format("woff"), url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

.flaticon-airplane:before {
  content: "\f100";
}

.flaticon-attachment:before {
  content: "\f101";
}

.flaticon-broken-heart:before {
  content: "\f102";
}

.flaticon-browser:before {
  content: "\f103";
}

.flaticon-cancel:before {
  content: "\f104";
}

.flaticon-center-alignment:before {
  content: "\f105";
}

.flaticon-clock:before {
  content: "\f106";
}

.flaticon-clock-1:before {
  content: "\f107";
}

.flaticon-cloud-computing:before {
  content: "\f108";
}

.flaticon-compass:before {
  content: "\f109";
}

.flaticon-computer:before {
  content: "\f10a";
}

.flaticon-cursor:before {
  content: "\f10b";
}

.flaticon-document:before {
  content: "\f10c";
}

.flaticon-document-1:before {
  content: "\f10d";
}

.flaticon-document-2:before {
  content: "\f10e";
}

.flaticon-document-3:before {
  content: "\f10f";
}

.flaticon-download:before {
  content: "\f110";
}

.flaticon-earth-globe:before {
  content: "\f111";
}

.flaticon-email:before {
  content: "\f112";
}

.flaticon-film:before {
  content: "\f113";
}

.flaticon-folder:before {
  content: "\f114";
}

.flaticon-gamepad:before {
  content: "\f115";
}

.flaticon-group:before {
  content: "\f116";
}

.flaticon-heart:before {
  content: "\f117";
}

.flaticon-internet:before {
  content: "\f118";
}

.flaticon-layers:before {
  content: "\f119";
}

.flaticon-left-alignment:before {
  content: "\f11a";
}

.flaticon-light-bulb:before {
  content: "\f11b";
}

.flaticon-light-bulb-1:before {
  content: "\f11c";
}

.flaticon-link:before {
  content: "\f11d";
}

.flaticon-list:before {
  content: "\f11e";
}

.flaticon-mail:before {
  content: "\f11f";
}

.flaticon-microphone:before {
  content: "\f120";
}

.flaticon-notification:before {
  content: "\f121";
}

.flaticon-padlock:before {
  content: "\f122";
}

.flaticon-pencil:before {
  content: "\f123";
}

.flaticon-phone-book:before {
  content: "\f124";
}

.flaticon-phone-book-1:before {
  content: "\f125";
}

.flaticon-picture:before {
  content: "\f126";
}

.flaticon-picture-1:before {
  content: "\f127";
}

.flaticon-placeholder:before {
  content: "\f128";
}

.flaticon-push-pin:before {
  content: "\f129";
}

.flaticon-right-alignment:before {
  content: "\f12a";
}

.flaticon-settings:before {
  content: "\f12b";
}

.flaticon-share:before {
  content: "\f12c";
}

.flaticon-shield:before {
  content: "\f12d";
}

.flaticon-shield-1:before {
  content: "\f12e";
}

.flaticon-shield-2:before {
  content: "\f12f";
}

.flaticon-smartphone:before {
  content: "\f130";
}

.flaticon-speech-bubble:before {
  content: "\f131";
}

.flaticon-speech-bubble-1:before {
  content: "\f132";
}

.flaticon-tablet:before {
  content: "\f133";
}

.flaticon-unlock:before {
  content: "\f134";
}

.flaticon-upload:before {
  content: "\f135";
}

.flaticon-user:before {
  content: "\f136";
}

.flaticon-user-1:before {
  content: "\f137";
}

.flaticon-user-2:before {
  content: "\f138";
}

.flaticon-user-3:before {
  content: "\f139";
}

.flaticon-volume:before {
  content: "\f13a";
}

.flaticon-zoom-in:before {
  content: "\f13b";
}

.flaticon-zoom-out:before {
  content: "\f13c";
}

/* Animacion de botones */
@keyframes buttonSlider {
  from {
    width: 35px;
    height: 35px;
  }
  to {
    background: #023670;
    width: 45px;
    height: 45px;
    opacity: .7;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}
/* Botones Anterior y Siguiente */
.button-prev,
.button-next {
  border: 0;
  background: #023670;
  width: 35px;
  height: 35px;
  position: absolute;
  top: calc(50% - 17px);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}
.button-prev:before, .button-prev:after,
.button-next:before,
.button-next:after {
  content: '';
  background: #f2f1f1;
  width: 2px;
  height: 15px;
  display: inline-block;
  margin: auto;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.button-prev:after,
.button-next:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-left: 9px;
}
.button-prev:hover,
.button-next:hover {
  animation-name: buttonSlider;
  animation-duration: .3s;
  animation-fill-mode: forwards;
}

.button-prev {
  left: 22px;
}

.button-next {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 22px;
}

/* Nuevos estilos */
.container-slider {
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: none;
  overflow: hidden;
}
.container-slider.slider-active {
  display: block;
}
.container-slider img {
  width: 100%;
  display: inline-block;
  height: auto;
  max-width: 100%;
}

.image-primary {
  position: relative;
  width: 100%;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: inline-block;
}

.content-imagen {
  width: 500%;
  height: auto;
  display: block;
}

.content-image-primary {
  width: 20%;
  float: left;
  position: relative;
  display: inline-block;
}
.content-image-primary img {
  width: 100%;
  height: auto;
  display: block;
}

.image-description {
  position: absolute;
  width: 100%;
  padding: 10px;
  bottom: 0;
  background: rgba(2, 54, 111, 0.7);
  color: #f2f1f1;
}

.container-image-secondary {
  width: 104%;
  left: -2%;
  display: inline-block;
  margin-top: .5em;
  height: auto;
  position: relative;
}

.image-secondary {
  width: 23%;
  margin: 0% 1%;
  height: auto;
  display: block;
  float: left;
  margin-bottom: .5em;
}
.image-secondary:hover:after {
  content: '+';
  color: #f2f1f1;
  width: 100%;
  top: 45%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  position: absolute;
  z-index: 1;
  left: 0;
  font-size: 45px;
  line-height: 1.25;
}
.image-secondary:hover:before {
  content: '';
  position: absolute;
  background: rgba(2, 54, 111, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 2px);
  z-index: 1;
  display: inline-block;
}

/**
* NOTE: Index
**/
.section-primary {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

.title-information {
  position: relative;
  z-index: 1;
}
.title-information h1 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 300;
  font-variant: normal;
  font-style: normal;
}
.title-information h1 strong {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
}
.title-information p {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  color: #023670;
  font-size: 1.15em;
  line-height: 1.20em;
  margin: 1.5em 0;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 300;
  font-variant: normal;
  font-style: normal;
}
.title-information p i {
  font-style: italic;
}

.button-open-home-video {
  border: solid 2px #00428c;
  background-color: transparent;
  color: #023670;
  font-size: 18px;
  border-radius: .5em;
  padding-left: 2.2em;
  padding-right: 1em;
  line-height: 35px;
  cursor: pointer;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
}
.button-open-home-video:before {
  content: '-';
  font-family: 'modern_pictogramsnormal';
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  color: #023670;
  font-size: 2em;
  position: absolute;
  left: .45em;
}

.home-background-video, .section-secondary,
.modal-component {
  display: none;
}

.modal-component.video-open {
  display: block;
}

.home-background-video, .section-secondary {
  width: calc(100% + 11%);
  position: relative;
  left: -5.5%;
  overflow: hidden;
}
.home-background-video:after, .section-secondary:after {
  content: '';
  background: #023670;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  display: inline-block;
}

/**
* Responsive width
**/
@media (min-width: 769px) {
  .home-page .title-information {
    position: absolute;
    bottom: 60px;
    left: 0px;
    width: 60%;
  }
  .home-page .title-information h1, .home-page .title-information p {
    color: #ffffff;
  }
  .home-page .button-open-home-video {
    border-color: #ffffff;
    color: #ffffff;
  }
  .home-page .button-open-home-video:after, .home-page .button-open-home-video:before {
    color: #ffffff;
  }

  .section-primary {
    margin-bottom: 0px;
  }

  .home-background-video, .section-secondary {
    display: block;
  }
}
@media (min-width: 1025px) {
  .home-page .title-information {
    width: 40%;
    bottom: 100px;
  }

  .home-background-video, .section-secondary {
    height: 500px;
    position: relative;
  }
  .home-background-video video, .section-secondary video {
    position: relative;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.home-background-video-content,
.modal-video-content {
  width: 100%;
}

.video-container {
  padding: 30px;
}

.modal-video-content {
  position: relative;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.button-video-close {
  font-size: 0px;
  border: 0;
  cursor: pointer;
  background-color: #023670;
  padding: 7px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border-radius: 50%;
  float: right;
}
.button-video-close:hover {
  background-color: #f2f1f1;
}
.button-video-close:hover:before, .button-video-close:hover:after {
  background: #023670;
}
.button-video-close:before, .button-video-close:after {
  content: '';
  width: 2px;
  height: 15px;
  display: block;
  margin: auto;
  background: #ffffff;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.button-video-close:after {
  width: 15px;
  height: 2px;
  position: relative;
  top: -8px;
}

/**
* Responsive width
**/
@media (min-width: 769px) {
  .modal-video-content {
    width: auto;
    max-height: 80vh;
  }
}
.article-sections-item {
  width: 100%;
  position: relative;
  display: inline-block;
  height: auto;
}

.article-item-content {
  position: relative;
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: transparent;
  margin-bottom: 2em;
}
.article-item-content img {
  padding: 1em;
  background-color: #00428c;
  margin-bottom: .5em;
  position: relative;
}

.article-item-description {
  background-color: #f2f1f1;
  padding: 1em;
  width: 100%;
  position: relative;
}
.article-item-description h3 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  color: #023670;
  font-size: 1.1em;
  line-height: 1.1em;
  margin-bottom: .7em;
  font-size: 1.3em;
}
.article-item-description p {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  color: #023670;
  font-size: 1.15em;
  line-height: 1.20em;
  margin: 1.5em 0;
  font-size: 1em;
  color: #7b7b79;
  margin-top: 1em;
  margin-bottom: 8px;
}
.article-item-description a {
  background-color: #00428c;
  color: #ffffff;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  position: absolute;
  right: 1em;
  font-weight: bold;
  bottom: -17px;
}
.article-item-description a:hover {
  background-color: #7b7b79;
  color: #f2f1f1;
}

/**
* Responsive width
**/
@media (min-width: 769px) {
  .article-sections-item {
    z-index: 1;
    margin-top: -40px;
  }

  .article-item-content {
    float: left;
    width: 48%;
    margin-right: 2%;
  }
  .article-item-content:nth-child(even) {
    margin-right: 0;
  }
  .article-item-content:nth-child(odd) {
    clear: left;
  }
}
@media (min-width: 1025px) {
  .article-sections-item {
    margin-top: -70px;
  }

  .article-item-content {
    width: 23%;
  }
  .article-item-content:nth-child(even) {
    margin-right: 2%;
  }
  .article-item-content:nth-child(odd) {
    clear: none;
  }

  .article-item-description h3 {
    font-size: 1.5em;
  }
  .article-item-description p {
    font-size: 1.1em;
  }
}
/* Turnos Online */
.article-online-turn {
  display: none;
}

.article-online-turn {
  background-color: #f2f1f1;
  width: 100%;
  position: relative;
  padding: 1em;
}
.article-online-turn:before {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(2, 54, 111, 0.7);
  z-index: 203;
  top: 0;
  left: 0;
}
.article-online-turn:after {
  content: 'Proximamente';
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  color: #ffffff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 22px;
  z-index: 204;
  text-align: center;
  display: inline-block;
  position: absolute;
  width: 100%;
  height: auto;
  left: 0;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.article-online-turn div {
  display: inline-block;
}
.article-online-turn div h1 {
  margin: 0;
  margin-bottom: .5em;
  display: inline-block;
  font-size: 1.5em;
}
.article-online-turn div a {
  text-decoration: underline;
}

/**
* Responsive width
**/
@media (min-width: 500px) {
  .article-online-turn {
    top: 33px;
    z-index: 202;
    text-align: center;
  }
  .article-online-turn div h1 {
    margin-bottom: 0;
  }
}
@media (min-width: 900px) {
  .article-online-turn {
    top: 33px;
  }
  .article-online-turn div {
    padding-left: 2em;
    padding-right: 2em;
  }
  .article-online-turn div h1 {
    font-size: 2.5em;
    line-height: 1.25em;
    margin-right: .5em;
  }
}
/* Ubicación y Horarios de atención */
.section-secondary {
  display: none;
}
.section-secondary img {
  width: 100%;
  display: block;
}
.section-secondary .background-shadow {
  -moz-box-shadow: rgba(2, 54, 111, 0.7);
  -webkit-box-shadow: rgba(2, 54, 111, 0.7);
  box-shadow: rgba(2, 54, 111, 0.7);
}

.article-information-for-user {
  margin: 2em 0;
  clear: both;
  display: block;
  width: 100%;
}
.article-information-for-user .telephone-line span {
  display: block;
  margin-bottom: 0.5em;
}
.article-information-for-user .telephone-line span h3 {
  margin-bottom: .3em;
}
.article-information-for-user .telephone-line span p {
  margin-bottom: .5em;
}
.article-information-for-user .telephone-line span p span {
  font-size: .8em;
  font-style: italic;
}
.article-information-for-user span a {
  text-decoration: underline;
}

/**
* Responsive width
**/
@media (min-width: 769px) {
  .section-secondary {
    display: block;
  }

  .article-information-for-user {
    position: relative;
    display: inline-block;
    margin-top: -170px;
    z-index: 1;
  }
  .article-information-for-user .telephone-line,
  .article-information-for-user .location-google-map {
    width: 48%;
    margin: 0 2%;
    background-color: #023670;
    color: #ffffff;
    display: inline-block;
    float: left;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .article-information-for-user .telephone-line h3,
  .article-information-for-user .location-google-map h3 {
    color: #ffffff;
  }
  .article-information-for-user .telephone-line {
    margin-left: 0;
    border-left: 8px solid #00428c;
    padding: 1em 2em;
    position: relative;
  }
  .article-information-for-user .telephone-line span {
    margin-bottom: 1em;
  }
  .article-information-for-user .telephone-line:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 100%;
    border-width: 33px;
    border-style: solid;
    border-color: transparent transparent transparent #023670;
  }
  .article-information-for-user .location-google-map {
    display: inline-block;
    margin-right: 0;
  }
  .article-information-for-user > span {
    display: none;
  }
}
@media (min-width: 1025px) {
  .section-secondary {
    height: 75vh;
  }

  .article-visit-schedule {
    font-size: 100%;
    padding: 2em;
  }

  .home-page .section-secondary {
    height: 70vh;
  }
  .home-page .section-secondary img {
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
.article-visit-schedule {
  background-color: #f2f1f1;
  font-size: 80%;
  padding: 1.5em;
  display: inline-block;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.article-visit-schedule h1 {
  margin-top: 0;
}
.article-visit-schedule span {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: 300;
  font-variant: normal;
  font-style: normal;
}

/**
* Responsive width
**/
@media (min-width: 900px) {
  .article-visit-schedule {
    font-size: 100%;
    padding: 2em;
  }
}
/* Institucional */
.photograpy-information {
  margin: 0 5% 8%;
}

.photograpy-secondary {
  margin-bottom: 0em;
  margin-top: 0em;
}

.menu-instalaciones {
  display: inline-block;
  width: 100%;
  margin-bottom: 1em;
}
.menu-instalaciones .item-description {
  margin-bottom: 10px;
  width: 90%;
}

.item-container {
  display: inline-block;
  margin-right: 2em;
}
.item-container a {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  color: #023670;
  font-size: 1.15em;
  line-height: 1.20em;
  margin: 1.5em 0;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  margin-top: 5px;
  margin-bottom: 15px;
}
.item-container:last-of-type {
  margin-right: 0;
}

.item-category {
  padding: .5em 0em;
  position: relative;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  color: #023670;
  font-size: 1.1em;
  line-height: 1.1em;
  margin-bottom: .7em;
  font-size: 1.2em;
  margin-bottom: 10px;
  display: inline-block;
  cursor: pointer;
}
.item-category + .item-description {
  display: none;
}

.item-active .item-category:before {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 4px;
  display: inline-block;
  background: #023670;
}
.item-active .item-category + .item-description {
  display: block;
}

.instalaciones-subheading {
  position: relative;
  display: block;
  padding-bottom: .25em;
  margin-bottom: 1em;
  font-size: 2em;
}

.container-all-slider {
  display: inline-block;
  width: auto;
  height: auto;
}

.menu-instalaciones {
  margin-top: -1em;
  width: 100%;
}

/**
* Responsive width
**/
@media (min-width: 735px) {
  .photograpy-information {
    margin: 0;
  }
}
@media (min-width: 700px) {
  .photograpy-primary {
    margin-top: 1em;
  }

  .menu-instalaciones {
    width: 30%;
  }
  .menu-instalaciones li {
    display: block;
  }

  .container-all-slider {
    width: 70%;
    padding-left: 50px;
    float: right;
  }

  .container-slider {
    width: 100%;
  }
  .container-slider.slider-active {
    display: inline-block;
  }

  .photograpy-secondary {
    margin-bottom: .5em;
    margin-top: .5em;
  }

  .menu-instalaciones {
    margin-top: 0em;
  }
}
/**
* Responsive width
**/
@media (min-width: 1025px) {
  .item-category:before {
    content: none;
  }
  .item-category:hover:before {
    content: '';
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 4px;
    display: inline-block;
    background: #023670;
  }
}
