/* Ubicación y Horarios de atención */
.section-secondary {
	display: none;

	img {
		width: 100%;
		display: block;
	}

	.background-shadow {
		@include box-shadow(rgba(13, 71, 72, 0.6));
	}
}

.article-information-for-user {
	margin: 2em 0;
	clear: both;
	display: block;
	width: 100%;

	.telephone-line span {
		display: block;
		margin-bottom: 0.5em;

		h3 {
			margin-bottom: .3em;
		}

		p {
			margin-bottom: .5em;
		}

		p span {
			font-size: .8em;
			font-style: italic;
		}
	}

	span a {
		text-decoration: underline;
	}
}

/**
* Responsive width
**/

@media (min-width: $tablet) {
	.section-secondary {
		display: block;
	}

	.article-information-for-user {
		position: relative;
		display: inline-block;
		margin-top: -170px;
		z-index: 1;

		.telephone-line,
		.location-google-map {
			width: 48%;
			margin: 0 2%;
			background-color: $color-secondary;
			color: $white;
			display: inline-block;
			float: left;
			@include box-shadow($shadow);

			h3 {
				color: $white;
			}
		}

		.telephone-line {
			margin-left: 0;
			border-left: 8px solid $color-tertiary;
		    padding: 1em 2em;
		    position: relative;

			span {
				margin-bottom: 1em;
			}

			&:after {
				content: '';
				position: absolute;
				top: 0px;
				left: 100%;
				border-width: 33px;
				border-style: solid;
				border-color: transparent transparent transparent $color-secondary;
			}
		}

		.location-google-map {
			display: inline-block;
			margin-right: 0;
		}

		> span {
			display: none;
		}
	}
}

@media (min-width: $desktop) {
	.section-secondary {
		height: 75vh;
	}

	.article-visit-schedule {
		font-size: 100%;
		padding: 2em;
	}

	.home-page {
		.section-secondary {
			height: 70vh;

			img {
				top: 50%;
				@include transform(translateY(-50%));
			}
		}
	}
}
