@charset "UTF-8";
/* line 5, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Iconos */
/* Verde oscuro */
/* Verde oscuro para t├¡tulos */
/* Verde claro */
/* Gris claro */
/* Gris oscuro, texto */
/* line 1, ../../sass/common/_global.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  background: transparent;
  text-decoration: none;
  position: relative;
}

/**
* Global
**/
/* line 15, ../../sass/common/_global.scss */
body {
  color: #0d4748;
  font-size: 16px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  position: relative;
}

/* line 22, ../../sass/common/_global.scss */
img {
  width: 100%;
  height: auto;
}

/* line 27, ../../sass/common/_global.scss */
a {
  display: inline-block;
  color: #0d4748;
}
/* line 31, ../../sass/common/_global.scss */
a:visited {
  color: #0d4748;
}

/* line 36, ../../sass/common/_global.scss */
button,
input {
  cursor: pointer;
  outline: 0;
}

/* line 42, ../../sass/common/_global.scss */
main {
  padding: 0px 5% 5%;
  width: 100%;
  display: block;
  margin: 0 auto;
  position: relative;
}

/* line 50, ../../sass/common/_global.scss */
section {
  display: inline-block;
}

/* line 54, ../../sass/common/_global.scss */
.col-paragraph {
  position: relative;
  display: block;
  vertical-align: top;
  width: 100%;
  line-height: 22px;
  font-size: 17px;
  margin: .5em 0;
  -webkit-column-count: 1;
  /* Chrome, Safari, Opera */
  -moz-column-count: 1;
  /* Firefox */
  column-count: 1;
  -webkit-column-gap: 0px;
  /* Chrome, Safari, Opera */
  -moz-column-gap: 0px;
  /* Firefox */
  column-gap: 0px;
}
/* line 60, ../../sass/common/_mixin.scss */
.col-paragraph:first-of-type {
  margin-left: 0;
}
/* line 64, ../../sass/common/_mixin.scss */
.col-paragraph:last-of-type {
  margin-right: 0;
}

/**
* Heading
**/
/* line 62, ../../sass/common/_global.scss */
h1 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  color: #34694e;
  font-size: 2.5em;
  line-height: 1em;
  margin: .5em 0;
}

/* line 66, ../../sass/common/_global.scss */
h2 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  color: #34694e;
  font-size: 1.6em;
  line-height: 1em;
  margin: .25em 0;
  margin-bottom: .4em;
}

/* line 70, ../../sass/common/_global.scss */
h3 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  color: #34694e;
  font-size: 1.1em;
  line-height: 1.1em;
  margin-bottom: .7em;
}

/* line 74, ../../sass/common/_global.scss */
.photograpy-primary,
.photograpy-secondary {
  position: relative;
  height: auto;
  display: inline-block;
}
/* line 76, ../../sass/common/_global.scss */
.photograpy-primary a,
.photograpy-secondary a {
  float: left;
}

/* line 86, ../../sass/common/_global.scss */
.photograpy-primary {
  margin-bottom: 3em;
}

/**
* Responsive
**/
@media (min-width: 500px) {
  /* line 99, ../../sass/common/_global.scss */
  .col-paragraph {
    position: relative;
    display: block;
    vertical-align: top;
    width: 80%;
    line-height: 22px;
    font-size: 17px;
    margin: .5em 0;
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-gap: 20px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 20px;
    /* Firefox */
    column-gap: 20px;
  }
  /* line 60, ../../sass/common/_mixin.scss */
  .col-paragraph:first-of-type {
    margin-left: 0;
  }
  /* line 64, ../../sass/common/_mixin.scss */
  .col-paragraph:last-of-type {
    margin-right: 0;
  }
}
@media (min-width: 700px) {
  /* line 105, ../../sass/common/_global.scss */
  .photograpy-information {
    padding-left: 15%;
    display: inline-block;
    width: 50%;
  }
  /* line 110, ../../sass/common/_global.scss */
  .photograpy-information .col-paragraph-photograpy {
    position: relative;
    display: block;
    vertical-align: top;
    width: 50%;
    line-height: 22px;
    font-size: 17px;
    margin: .5em 0;
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-gap: 20px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 20px;
    /* Firefox */
    column-gap: 20px;
    width: 80%;
  }
  /* line 60, ../../sass/common/_mixin.scss */
  .photograpy-information .col-paragraph-photograpy:first-of-type {
    margin-left: 0;
  }
  /* line 64, ../../sass/common/_mixin.scss */
  .photograpy-information .col-paragraph-photograpy:last-of-type {
    margin-right: 0;
  }

  /* line 116, ../../sass/common/_global.scss */
  .photograpy-secondary img {
    width: 50%;
    padding-right: 1%;
  }
  /* line 120, ../../sass/common/_global.scss */
  .photograpy-secondary img.second-img {
    float: right;
    padding-right: 0;
    padding-left: 1%;
  }
}
@media (min-width: 900px) {
  /* line 129, ../../sass/common/_global.scss */
  main {
    padding: 2% 5%;
  }

  /* line 133, ../../sass/common/_global.scss */
  .col-paragraph {
    position: relative;
    display: block;
    vertical-align: top;
    width: 75%;
    line-height: 22px;
    font-size: 17px;
    margin: .5em 0;
    -webkit-column-count: 3;
    /* Chrome, Safari, Opera */
    -moz-column-count: 3;
    /* Firefox */
    column-count: 3;
    -webkit-column-gap: 20px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 20px;
    /* Firefox */
    column-gap: 20px;
  }
  /* line 60, ../../sass/common/_mixin.scss */
  .col-paragraph:first-of-type {
    margin-left: 0;
  }
  /* line 64, ../../sass/common/_mixin.scss */
  .col-paragraph:last-of-type {
    margin-right: 0;
  }
}
@font-face {
  font-family: 'modern_pictogramsnormal';
  src: url("../../font/modernpictogram/modernpics-webfont.woff2") format("woff2"), url("../../font/modernpictogram/modernpics-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* Contenedor del Header */
/* line 2, ../../sass/components/_header.scss */
header {
  width: 100%;
  height: 6em;
  position: relative;
  background: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 600;
  /* Lineas que arman el bot├│n hamburguesa del Men├║ Mobile */
  /* Caja contenedora del Logo */
}
/* line 11, ../../sass/components/_header.scss */
header hr {
  height: 3px;
  width: 100%;
  margin: 5px 0;
  border: 0;
  background: #0d4748;
}
/* line 20, ../../sass/components/_header.scss */
header .logo {
  width: 12em;
  height: 100%;
  display: inline-block;
  float: left;
  padding: 1em;
  position: relative;
  z-index: 200;
  /* Link a Home desde el Logo */
  /* Link a Home desde Logo */
}
/* line 30, ../../sass/components/_header.scss */
header .logo a {
  display: inline-block;
  line-height: 4;
  /* Imagen Logo al 100% */
}
/* line 35, ../../sass/components/_header.scss */
header .logo a img {
  max-width: 100%;
  position: relative;
  vertical-align: middle;
}

/* line 45, ../../sass/components/_header.scss */
.menu {
  padding: 0;
  width: 100%;
  right: 0;
  position: absolute;
  line-height: 6em;
  height: 6em;
  display: inline-block;
}

/* Contenedor del Bot├│n Hamburguesa */
/* line 56, ../../sass/components/_header.scss */
.button-menu {
  width: 1.5em;
  position: relative;
  float: right;
  right: 2em;
  /* Bot├│n Hamburguesa */
}
/* line 63, ../../sass/components/_header.scss */
.button-menu button {
  border: 0;
  background: transparent;
  width: 100%;
  position: relative;
  vertical-align: middle;
  padding: 1em 0;
  cursor: pointer;
}

/* Caja contenedora de elementos del men├║ */
/* line 75, ../../sass/components/_header.scss */
.menu-element {
  width: 100%;
  display: inline-block;
  overflow: hidden;
  position: relative;
}
/* line 81, ../../sass/components/_header.scss */
.menu-element:before {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  right: 0;
  top: -1px;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: inline-block;
  z-index: 10000;
}
/* line 94, ../../sass/components/_header.scss */
.menu-element ul {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 328px;
  text-align: right;
  right: -100%;
  background: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  /* Elementos contenidos en el men├║ */
  /* items del menu */
}
/* line 105, ../../sass/components/_header.scss */
.menu-element ul li {
  border-bottom: solid 2px #0d4748;
  line-height: 5em;
  text-align: left;
  padding: 0 2em;
}
/* line 111, ../../sass/components/_header.scss */
.menu-element ul li a {
  display: inline-block;
  color: #0d4748;
  width: 100%;
  position: relative;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
}
/* line 118, ../../sass/components/_header.scss */
.menu-element ul li a:after {
  content: '';
  width: .5em;
  height: .5em;
  position: absolute;
  display: inline-block;
  background-color: #0d4748;
  border-radius: 50%;
  right: 0;
  top: calc((80px / 2) - .25em);
}
/* line 132, ../../sass/components/_header.scss */
.menu-element ul li:last-of-type {
  border: 0;
}
/* line 136, ../../sass/components/_header.scss */
.menu-element ul li:hover {
  background-color: #9db5b6;
}
/* line 138, ../../sass/components/_header.scss */
.menu-element ul li:hover a {
  color: #ffffff;
}
/* line 142, ../../sass/components/_header.scss */
.menu-element ul li:hover a:after {
  background-color: #ffffff;
}

/* navegaci├│n en m├│viles */
@media (min-width: 500px) {
  /* line 152, ../../sass/components/_header.scss */
  header .logo {
    width: 14em;
    left: 1em;
  }

  /* Caja contenedora de elementos del men├║ */
  /* line 158, ../../sass/components/_header.scss */
  .menu-element ul {
    width: 50%;
  }
}
@media (min-width: 900px) {
  /* Caja contenedora de elementos del men├║ */
  /* line 166, ../../sass/components/_header.scss */
  .menu-element ul {
    width: 30%;
  }
}
@media (min-width: 1024px) {
  /* line 172, ../../sass/components/_header.scss */
  header {
    height: 5.5em;
  }
  /* line 175, ../../sass/components/_header.scss */
  header .logo {
    width: 20%;
    height: 100%;
    display: inline-block;
    float: left;
    padding: .5em 1em;
    position: relative;
    left: 3em;
  }
  /* line 184, ../../sass/components/_header.scss */
  header .logo a {
    width: 13em;
  }
  /* line 187, ../../sass/components/_header.scss */
  header .logo a img {
    max-width: 100%;
    position: relative;
    vertical-align: middle;
  }

  /* Contenedor del Bot├│n Hamburguesa */
  /* line 197, ../../sass/components/_header.scss */
  .button-menu {
    display: none;
  }

  /* men├║ en desktop, 1024px en adelante */
  /* line 202, ../../sass/components/_header.scss */
  .menu-element {
    /* Fin men├║ en desktop, 1024px en adelante */
  }
  /* line 204, ../../sass/components/_header.scss */
  .menu-element ul {
    height: 100%;
    width: calc(14.4em + 392.2px);
    float: right;
    position: relative;
    right: 2em;
    background-color: transparent;
    box-shadow: none;
    top: 0;
  }
  /* line 214, ../../sass/components/_header.scss */
  .menu-element ul li {
    padding: 0 1.8em;
    float: left;
    line-height: calc(5.5em - 6px);
    border: 0;
  }
  /* line 220, ../../sass/components/_header.scss */
  .menu-element ul li:hover {
    background-color: transparent;
  }
  /* line 223, ../../sass/components/_header.scss */
  .menu-element ul li:hover a {
    color: #0d4748;
  }
  /* line 228, ../../sass/components/_header.scss */
  .menu-element ul li a {
    color: #0d4748;
    width: 100%;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-weight: bold;
    font-variant: normal;
    font-style: normal;
    display: inline-block;
    text-align: center;
  }
  /* line 235, ../../sass/components/_header.scss */
  .menu-element ul li a:after {
    content: '';
    display: none;
  }
  /* line 240, ../../sass/components/_header.scss */
  .menu-element ul li a:hover, .menu-element ul li a.active {
    border-bottom: solid 6px #0d4748;
  }
}
/* line 1, ../../sass/components/_footer.scss */
footer {
  clear: both;
  background-color: #f2f1f1;
  width: 100%;
  height: auto;
  position: relative;
  display: block;
  padding: 1em;
  text-align: center;
}
/* line 11, ../../sass/components/_footer.scss */
footer p {
  line-height: 22px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: normal;
  font-variant: normal;
  font-style: normal;
  margin: 0;
  color: #34694e;
}
/* line 18, ../../sass/components/_footer.scss */
footer > div {
  margin-top: 2em;
}
/* line 21, ../../sass/components/_footer.scss */
footer > div:first-of-type {
  margin-top: 0;
}
/* line 28, ../../sass/components/_footer.scss */
footer .institutional .logo,
footer .line-phone .logo {
  width: 12em;
  margin: auto;
}
/* line 33, ../../sass/components/_footer.scss */
footer .institutional h3,
footer .institutional p,
footer .line-phone h3,
footer .line-phone p {
  margin-top: 2em;
}
/* line 39, ../../sass/components/_footer.scss */
footer .site-map li {
  padding: .35em 0;
  color: #34694e;
}
/* line 43, ../../sass/components/_footer.scss */
footer .site-map li a:hover {
  text-decoration: underline;
}
/* line 48, ../../sass/components/_footer.scss */
footer .turn-online span a {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  color: #34694e;
  text-decoration: underline;
}
/* line 54, ../../sass/components/_footer.scss */
footer .line-phone span {
  line-height: 1.4em;
  color: #34694e;
}
/* line 61, ../../sass/components/_footer.scss */
footer .search label {
  width: 100%;
  position: relative;
}
/* line 65, ../../sass/components/_footer.scss */
footer .search label input[type="text"] {
  border: 0;
  background-color: #0d4748;
  color: #ffffff;
  border-radius: .5em;
  line-height: 2.4em;
  padding: 0 1em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 70%;
  min-width: 50%;
  font-size: 1em;
}
/* line 77, ../../sass/components/_footer.scss */
footer .search label input[type="text"]:focus {
  outline: 0;
}
/* line 82, ../../sass/components/_footer.scss */
footer .search label button {
  border: 0;
  background-color: transparent;
  line-height: 2.4em;
  cursor: pointer;
}
/* line 88, ../../sass/components/_footer.scss */
footer .search label button:before {
  content: 's';
  font-family: 'modern_pictogramsnormal';
  color: #0d4748;
  font-size: 3.8em;
  margin-left: 5px;
  top: 10px;
  position: relative;
}
/* line 92, ../../sass/components/_footer.scss */
footer .search label button:hover {
  opacity: .7;
}

/* line 100, ../../sass/components/_footer.scss */
.extra-information {
  background-color: #34694e;
  padding: 1.5em 3em;
  position: relative;
  width: 100%;
  display: block;
  color: #ffffff;
  font-size: .8em;
  text-align: center;
}
/* line 110, ../../sass/components/_footer.scss */
.extra-information span a {
  text-decoration: underline;
  color: #ffffff;
}
/* line 114, ../../sass/components/_footer.scss */
.extra-information span a:hover {
  background-color: #ffffff;
  color: #34694e;
}

/* line 122, ../../sass/components/_footer.scss */
.information .turn-online {
  position: relative;
}
/* line 126, ../../sass/components/_footer.scss */
.information .turn-online:hover:before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 10;
  padding: 10px;
  border-radius: 10px;
  left: -6px;
  top: -9px;
}
/* line 139, ../../sass/components/_footer.scss */
.information .turn-online:hover:after {
  content: 'No disponible';
  text-align: center;
  color: #0d4748;
  z-index: 12;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  left: 0px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
}

/**
* Responsive
**/
@media (min-width: 500px) {
  /* line 158, ../../sass/components/_footer.scss */
  footer {
    padding: 2em;
    text-align: left;
  }
  /* line 162, ../../sass/components/_footer.scss */
  footer .logo {
    margin-left: 0 !important;
  }
  /* line 166, ../../sass/components/_footer.scss */
  footer > div {
    margin-top: 0em;
  }

  /* line 171, ../../sass/components/_footer.scss */
  .col-4 {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin: 0 2%;
  }
  /* line 178, ../../sass/components/_footer.scss */
  .col-4:nth-child(odd) {
    margin-left: 0;
  }

  /* line 183, ../../sass/components/_footer.scss */
  .information,
  .search {
    margin-top: 2em;
  }

  /* line 188, ../../sass/components/_footer.scss */
  .extra-information {
    padding: 1.5em 3em;
    text-align: left;
  }
  /* line 192, ../../sass/components/_footer.scss */
  .extra-information span:last-of-type {
    float: right;
  }
}
@media (min-width: 900px) {
  /* line 202, ../../sass/components/_footer.scss */
  .information .turn-online:hover:before {
    left: -19px;
  }
  /* line 206, ../../sass/components/_footer.scss */
  .information .turn-online:hover:after {
    left: -11px;
  }

  /* line 212, ../../sass/components/_footer.scss */
  .information,
  .search {
    margin-top: 0em;
  }

  /* line 217, ../../sass/components/_footer.scss */
  .col-4 {
    width: 23%;
    margin: 0 1%;
  }
}
@media (min-width: 1024px) {
  /* line 224, ../../sass/components/_footer.scss */
  footer {
    padding: 2em 4em;
  }
}
/* line 1, ../../sass/common/_tooltip.scss */
.tooltip-box {
  display: none;
  width: 2.5em;
  float: right;
  position: fixed;
  right: 2.5em;
  margin-top: 80px;
  z-index: 300;
}

/* line 11, ../../sass/common/_tooltip.scss */
.tooltip {
  position: relative;
  display: inline-block;
  margin: .3em 0;
  cursor: pointer;
}
/* line 17, ../../sass/common/_tooltip.scss */
.tooltip:before {
  content: '';
  display: inline-block;
  color: #ffffff;
  width: 2.5em;
  height: 2.5em;
  position: relative;
  top: -11px;
  border-radius: 50%;
  background-color: #0d4748;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 30, ../../sass/common/_tooltip.scss */
.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #ffffff;
  color: #3d8232;
  text-align: center;
  border-radius: 6px;
  padding: .4em 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 135%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
}
/* line 45, ../../sass/common/_tooltip.scss */
.tooltip .tooltip-text:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -8px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent #ffffff;
}
/* line 58, ../../sass/common/_tooltip.scss */
.tooltip:hover .tooltip-text {
  visibility: visible;
}
/* line 63, ../../sass/common/_tooltip.scss */
.tooltip .tooltip-img-content {
  top: -10px;
  width: 40px;
  height: 40px;
  display: inline-block;
  position: absolute;
  overflow: hidden;
}

/* line 73, ../../sass/common/_tooltip.scss */
.tooltip-text-primary {
  visibility: visible !important;
}

/* line 77, ../../sass/common/_tooltip.scss */
.tooltip-active:before {
  background-color: #3d8232;
}

/* line 81, ../../sass/common/_tooltip.scss */
.tooltip-online-turn {
  width: 23px;
  position: relative;
  left: 9px;
  top: 7px;
}

/* line 88, ../../sass/common/_tooltip.scss */
.tooltip-address {
  width: 23px;
  position: relative;
  left: 9px;
  top: -34px;
}

/* line 95, ../../sass/common/_tooltip.scss */
.tooltip-contact {
  width: 23px;
  position: relative;
  left: 9px;
  top: -75px;
}

/* line 102, ../../sass/common/_tooltip.scss */
.tooltip-schedule {
  width: 23px;
  position: relative;
  left: 9px;
  top: -114px;
}

/* line 109, ../../sass/common/_tooltip.scss */
#turn-tooltip {
  display: none;
}

/**
* Responsive
**/
@media (min-width: 600px) {
  /* line 121, ../../sass/common/_tooltip.scss */
  .tooltip-box {
    display: block;
  }
}
/* line 1, ../../sass/common/_item-box.scss */
.element-list {
  position: relative;
}
/* line 4, ../../sass/common/_item-box.scss */
.element-list h3 {
  width: 100%;
  line-height: 2em;
  font-size: 1.3em;
}

/* line 11, ../../sass/common/_item-box.scss */
.information-item {
  background-color: #f2f1f1;
  padding: 1em;
  position: relative;
  vertical-align: middle;
  display: block;
  width: 100%;
  vertical-align: top;
  margin-bottom: 1em;
}
/* line 21, ../../sass/common/_item-box.scss */
.information-item:after {
  content: '';
  width: .7em;
  height: .7em;
  display: inline-block;
  background-color: #34694e;
  border-radius: 50%;
  position: absolute;
  left: calc(0em - .35em);
  top: calc(50% - .35em);
}
/* line 34, ../../sass/common/_item-box.scss */
.information-item:last-of-type {
  margin-right: 0;
}
/* line 38, ../../sass/common/_item-box.scss */
.information-item span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #3d8232;
  min-height: 2em;
  cursor: pointer;
}
/* line 47, ../../sass/common/_item-box.scss */
.information-item:hover {
  background-color: #9db5b6;
}
/* line 50, ../../sass/common/_item-box.scss */
.information-item:hover span {
  color: #ffffff;
}

/* Logos / Coberturas M├®dicas */
/* line 57, ../../sass/common/_item-box.scss */
.logotypes-medic {
  margin-bottom: 1em;
}
/* line 60, ../../sass/common/_item-box.scss */
.logotypes-medic img {
  display: block;
  width: 95%;
  margin: auto;
}

/* line 67, ../../sass/common/_item-box.scss */
.show {
  display: block !important;
}

/**
* Responsive
**/
@media (min-width: 500px) {
  /* line 76, ../../sass/common/_item-box.scss */
  .information-item,
  .logotypes-medic {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin-right: 3%;
  }
}
@media (min-width: 700px) {
  /* line 87, ../../sass/common/_item-box.scss */
  .information-item,
  .logotypes-medic {
    width: 30%;
    margin-right: 2%;
  }
}
@media (min-width: 900px) {
  /* line 95, ../../sass/common/_item-box.scss */
  .information-item,
  .logotypes-medic {
    width: 23%;
    margin-right: 1%;
  }
}
@media (min-width: 1024px) {
  /* line 103, ../../sass/common/_item-box.scss */
  .information-item,
  .logotypes-medic {
    width: 18%;
    margin-right: 1%;
  }
}
/* line 1, ../../sass/common/_modal.scss */
.modal, .modal-video {
  position: fixed;
  background-color: rgba(13, 71, 72, 0.7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 600;
  display: none;
}
/* line 13, ../../sass/common/_modal.scss */
.modal .modal-container, .modal-video .modal-container, .modal-video .modal-container-video {
  background-color: #ffffff;
  padding: 2em;
  width: 90%;
  margin: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  top: calc(50vh - 150px);
  position: relative;
  color: #34694e;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 26, ../../sass/common/_modal.scss */
.modal .modal-container .button-close-information, .modal-video .modal-container .button-close-information, .modal-video .modal-container-video .button-close-information {
  margin-top: 0px;
  border: 0;
  background: transparent;
  cursor: pointer;
  float: right;
}
/* line 109, ../../sass/common/_mixin.scss */
.modal .modal-container .button-close-information:before, .modal-video .modal-container .button-close-information:before, .modal-video .modal-container-video .button-close-information:before, .modal .modal-container .button-close-information:after, .modal-video .modal-container .button-close-information:after, .modal-video .modal-container-video .button-close-information:after {
  content: '';
  background-color: #0d4748;
  margin: auto;
  position: relative;
  display: block;
  transform: rotate(45deg);
}
/* line 119, ../../sass/common/_mixin.scss */
.modal .modal-container .button-close-information:before, .modal-video .modal-container .button-close-information:before, .modal-video .modal-container-video .button-close-information:before {
  height: 3px;
  width: 25px;
  top: calc(12.5px + 1.5px);
}
/* line 125, ../../sass/common/_mixin.scss */
.modal .modal-container .button-close-information:after, .modal-video .modal-container .button-close-information:after, .modal-video .modal-container-video .button-close-information:after {
  width: 3px;
  height: 25px;
}
/* line 31, ../../sass/common/_modal.scss */
.modal .modal-container li.col-3, .modal-video .modal-container li.col-3, .modal-video .modal-container-video li.col-3 {
  display: block;
}
/* line 35, ../../sass/common/_modal.scss */
.modal .modal-container h2, .modal-video .modal-container h2, .modal-video .modal-container-video h2 {
  font-size: 1.4em;
  display: block;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
}
/* line 43, ../../sass/common/_modal.scss */
.modal .modal-container h4, .modal-video .modal-container h4, .modal-video .modal-container-video h4 {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  margin-bottom: 20px;
  font-size: 1.3em;
  text-transform: capitalize;
  position: relative;
  color: #444444;
}
/* line 51, ../../sass/common/_modal.scss */
.modal .modal-container h4:before, .modal-video .modal-container h4:before, .modal-video .modal-container-video h4:before {
  content: '';
  width: 5px;
  height: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #34694e;
  display: inline-block;
  bottom: 4px;
  position: relative;
  margin-right: 10px;
}
/* line 64, ../../sass/common/_modal.scss */
.modal .modal-container h5, .modal-video .modal-container h5, .modal-video .modal-container-video h5 {
  font-size: 21px;
  margin-bottom: 18px;
}
/* line 69, ../../sass/common/_modal.scss */
.modal .modal-container p, .modal-video .modal-container p, .modal-video .modal-container-video p {
  font-size: 0.9em;
  line-height: 1.3em;
  color: black;
}
/* line 74, ../../sass/common/_modal.scss */
.modal .modal-container p:first-of-type, .modal-video .modal-container p:first-of-type, .modal-video .modal-container-video p:first-of-type {
  margin-top: 0;
}
/* line 78, ../../sass/common/_modal.scss */
.modal .modal-container p:last-of-type, .modal-video .modal-container p:last-of-type, .modal-video .modal-container-video p:last-of-type {
  margin-bottom: 0;
}

/* line 88, ../../sass/common/_modal.scss */
.modal-video .modal-container-video {
  width: 75%;
  top: 50px;
}
/* line 93, ../../sass/common/_modal.scss */
.modal-video .modal-container-video button {
  border: 0;
  background: transparent;
  cursor: pointer;
  float: right;
  margin-top: -90px;
  margin-right: -50px;
}
/* line 109, ../../sass/common/_mixin.scss */
.modal-video .modal-container-video button:before, .modal-video .modal-container-video button:after {
  content: '';
  background-color: #0d4748;
  margin: auto;
  position: relative;
  display: block;
  transform: rotate(45deg);
}
/* line 119, ../../sass/common/_mixin.scss */
.modal-video .modal-container-video button:before {
  height: 3px;
  width: 25px;
  top: calc(12.5px + 1.5px);
}
/* line 125, ../../sass/common/_mixin.scss */
.modal-video .modal-container-video button:after {
  width: 3px;
  height: 25px;
}
/* line 98, ../../sass/common/_modal.scss */
.modal-video .modal-container-video button:before, .modal-video .modal-container-video button:after {
  background-color: #ffffff;
}
/* line 104, ../../sass/common/_modal.scss */
.modal-video .modal-container-video video {
  width: 100%;
}

@media (min-width: 500px) {
  /* line 115, ../../sass/common/_modal.scss */
  .modal .modal-container h2, .modal-video .modal-container h2, .modal-video .modal-container-video h2 {
    font-size: 2em;
  }
  /* line 119, ../../sass/common/_modal.scss */
  .modal .modal-container li.col-3, .modal-video .modal-container li.col-3, .modal-video .modal-container-video li.col-3 {
    width: 48%;
    display: inline-block;
    white-space: nowrap;
  }
}
@media (min-width: 700px) {
  /* line 130, ../../sass/common/_modal.scss */
  .modal .modal-container, .modal-video .modal-container, .modal-video .modal-container-video {
    padding: 3em;
    width: 70%;
  }
  /* line 134, ../../sass/common/_modal.scss */
  .modal .modal-container .button-close-information, .modal-video .modal-container .button-close-information, .modal-video .modal-container-video .button-close-information {
    margin-top: -25px;
  }
  /* line 138, ../../sass/common/_modal.scss */
  .modal .modal-container li.col-3, .modal-video .modal-container li.col-3, .modal-video .modal-container-video li.col-3 {
    width: 30%;
  }
}
/**
* Item information
**/
/* line 5, ../../sass/common/_information-item.scss */
.prevention-item {
  padding: 1em;
  color: #444444;
  background-color: #f2f1f1;
  display: block;
  margin: 1em 0;
}
/* line 132, ../../sass/common/_mixin.scss */
.prevention-item:nth-child(even) {
  width: 100%;
}
/* line 136, ../../sass/common/_mixin.scss */
.prevention-item:nth-child(odd) {
  width: 100%;
}
/* line 14, ../../sass/common/_information-item.scss */
.prevention-item h2 {
  margin-top: 0;
}
/* line 18, ../../sass/common/_information-item.scss */
.prevention-item p {
  font-size: 1em;
  line-height: 1.2em;
}

/**
* Responsive
**/
@media (min-width: 500px) {
  /* line 132, ../../sass/common/_mixin.scss */
  .prevention-item:nth-child(even) {
    width: 100%;
  }
  /* line 136, ../../sass/common/_mixin.scss */
  .prevention-item:nth-child(odd) {
    width: 75%;
  }
}
@media (min-width: 900px) {
  /* line 132, ../../sass/common/_mixin.scss */
  .prevention-item:nth-child(even) {
    width: 75%;
  }
  /* line 136, ../../sass/common/_mixin.scss */
  .prevention-item:nth-child(odd) {
    width: 50%;
  }
}
/**
* Breadcrum
**/
/* line 5, ../../sass/common/_breadcrum.scss */
.box-container-breadcrum {
  width: 100%;
  display: block;
  margin: 1.5em 0;
}
/* line 10, ../../sass/common/_breadcrum.scss */
.box-container-breadcrum a {
  font-size: .9em;
}
/* line 13, ../../sass/common/_breadcrum.scss */
.box-container-breadcrum a.active {
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-weight: bold;
  font-variant: normal;
  font-style: normal;
  color: #34694e;
}
/* line 17, ../../sass/common/_breadcrum.scss */
.box-container-breadcrum a.active:after {
  display: none;
}
/* line 22, ../../sass/common/_breadcrum.scss */
.box-container-breadcrum a:after {
  content: '';
  width: .25em;
  height: .25em;
  display: inline-block;
  background-color: #0d4748;
  margin: 0 1em;
  border-radius: 50%;
  position: relative;
  top: -2px;
}

/**
* Responsive
**/
/* Item explicaci├│n de fotografia */
/* line 2, ../../sass/common/_tooltip-photo.scss */
.box-description {
  z-index: 200;
  margin-top: 1em;
  margin-bottom: 1em;
  position: relative;
}

/**
* Responsive
**/
@media (min-width: 700px) {
  /* line 18, ../../sass/common/_tooltip-photo.scss */
  .box-description {
    margin-left: 5%;
    margin-right: 5%;
    width: 30%;
    background-color: #ffffff;
    color: #3d8232;
    line-height: 1.1em;
    border-radius: .5em;
    opacity: .8;
    padding: 1em;
    margin: 1em;
    position: absolute;
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }

  /* line 33, ../../sass/common/_tooltip-photo.scss */
  .flecha-top:before,
  .flecha-bottom:before,
  .flecha-left:before,
  .flecha-right:before {
    content: '';
    position: absolute;
    border-style: solid;
  }

  /* line 42, ../../sass/common/_tooltip-photo.scss */
  .flecha-right:before {
    top: 50%;
    left: 100%;
    margin-top: -8px;
    border-width: 8px;
    border-color: transparent transparent transparent #ffffff;
  }

  /* line 50, ../../sass/common/_tooltip-photo.scss */
  .flecha-left:before {
    top: 50%;
    right: 100%;
    margin-top: -8px;
    border-width: 8px;
    border-color: transparent #ffffff transparent transparent;
  }

  /* line 58, ../../sass/common/_tooltip-photo.scss */
  .flecha-top:before {
    bottom: 100%;
    right: 50%;
    margin-top: -8px;
    border-width: 8px;
    border-color: transparent transparent #ffffff transparent;
  }

  /* line 66, ../../sass/common/_tooltip-photo.scss */
  .flecha-bottom:before {
    top: calc(100% + .5em);
    right: 50%;
    margin-top: -8px;
    border-width: 8px;
    border-color: #ffffff transparent transparent transparent;
  }

  /* line 74, ../../sass/common/_tooltip-photo.scss */
  #box-1 {
    top: 50%;
    left: 5%;
  }

  /* line 79, ../../sass/common/_tooltip-photo.scss */
  #box-2 {
    top: 10%;
    right: 5%;
  }

  /* line 84, ../../sass/common/_tooltip-photo.scss */
  #box-3 {
    top: -18%;
    left: 10%;
  }

  /* line 89, ../../sass/common/_tooltip-photo.scss */
  #box-4 {
    bottom: -17%;
    right: 10%;
    z-index: 200;
  }

  /* line 95, ../../sass/common/_tooltip-photo.scss */
  #box-5,
  #box-8 {
    right: 38%;
    top: 30%;
  }

  /* line 101, ../../sass/common/_tooltip-photo.scss */
  #box-6,
  #box-9 {
    left: 10%;
    top: -18%;
  }

  /* line 107, ../../sass/common/_tooltip-photo.scss */
  #box-7,
  #box-10 {
    right: 10%;
    bottom: -18%;
    z-index: 200;
  }
}
@media (min-width: 1024px) {
  /* line 117, ../../sass/common/_tooltip-photo.scss */
  .box-description {
    width: 25%;
  }
}
	/*
  	Flaticon icon font: Flaticon
  	Creation date: 19/07/2016 08:47
  	*/
@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"), url("./Flaticon.woff") format("woff"), url("./Flaticon.ttf") format("truetype"), url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}
/* line 24, ../../sass/common/_flaticon.scss */
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 20px;
  font-style: normal;
  margin-left: 20px;
}

/* line 32, ../../sass/common/_flaticon.scss */
.flaticon-airplane:before {
  content: "\f100";
}

/* line 33, ../../sass/common/_flaticon.scss */
.flaticon-attachment:before {
  content: "\f101";
}

/* line 34, ../../sass/common/_flaticon.scss */
.flaticon-broken-heart:before {
  content: "\f102";
}

/* line 35, ../../sass/common/_flaticon.scss */
.flaticon-browser:before {
  content: "\f103";
}

/* line 36, ../../sass/common/_flaticon.scss */
.flaticon-cancel:before {
  content: "\f104";
}

/* line 37, ../../sass/common/_flaticon.scss */
.flaticon-center-alignment:before {
  content: "\f105";
}

/* line 38, ../../sass/common/_flaticon.scss */
.flaticon-clock:before {
  content: "\f106";
}

/* line 39, ../../sass/common/_flaticon.scss */
.flaticon-clock-1:before {
  content: "\f107";
}

/* line 40, ../../sass/common/_flaticon.scss */
.flaticon-cloud-computing:before {
  content: "\f108";
}

/* line 41, ../../sass/common/_flaticon.scss */
.flaticon-compass:before {
  content: "\f109";
}

/* line 42, ../../sass/common/_flaticon.scss */
.flaticon-computer:before {
  content: "\f10a";
}

/* line 43, ../../sass/common/_flaticon.scss */
.flaticon-cursor:before {
  content: "\f10b";
}

/* line 44, ../../sass/common/_flaticon.scss */
.flaticon-document:before {
  content: "\f10c";
}

/* line 45, ../../sass/common/_flaticon.scss */
.flaticon-document-1:before {
  content: "\f10d";
}

/* line 46, ../../sass/common/_flaticon.scss */
.flaticon-document-2:before {
  content: "\f10e";
}

/* line 47, ../../sass/common/_flaticon.scss */
.flaticon-document-3:before {
  content: "\f10f";
}

/* line 48, ../../sass/common/_flaticon.scss */
.flaticon-download:before {
  content: "\f110";
}

/* line 49, ../../sass/common/_flaticon.scss */
.flaticon-earth-globe:before {
  content: "\f111";
}

/* line 50, ../../sass/common/_flaticon.scss */
.flaticon-email:before {
  content: "\f112";
}

/* line 51, ../../sass/common/_flaticon.scss */
.flaticon-film:before {
  content: "\f113";
}

/* line 52, ../../sass/common/_flaticon.scss */
.flaticon-folder:before {
  content: "\f114";
}

/* line 53, ../../sass/common/_flaticon.scss */
.flaticon-gamepad:before {
  content: "\f115";
}

/* line 54, ../../sass/common/_flaticon.scss */
.flaticon-group:before {
  content: "\f116";
}

/* line 55, ../../sass/common/_flaticon.scss */
.flaticon-heart:before {
  content: "\f117";
}

/* line 56, ../../sass/common/_flaticon.scss */
.flaticon-internet:before {
  content: "\f118";
}

/* line 57, ../../sass/common/_flaticon.scss */
.flaticon-layers:before {
  content: "\f119";
}

/* line 58, ../../sass/common/_flaticon.scss */
.flaticon-left-alignment:before {
  content: "\f11a";
}

/* line 59, ../../sass/common/_flaticon.scss */
.flaticon-light-bulb:before {
  content: "\f11b";
}

/* line 60, ../../sass/common/_flaticon.scss */
.flaticon-light-bulb-1:before {
  content: "\f11c";
}

/* line 61, ../../sass/common/_flaticon.scss */
.flaticon-link:before {
  content: "\f11d";
}

/* line 62, ../../sass/common/_flaticon.scss */
.flaticon-list:before {
  content: "\f11e";
}

/* line 63, ../../sass/common/_flaticon.scss */
.flaticon-mail:before {
  content: "\f11f";
}

/* line 64, ../../sass/common/_flaticon.scss */
.flaticon-microphone:before {
  content: "\f120";
}

/* line 65, ../../sass/common/_flaticon.scss */
.flaticon-notification:before {
  content: "\f121";
}

/* line 66, ../../sass/common/_flaticon.scss */
.flaticon-padlock:before {
  content: "\f122";
}

/* line 67, ../../sass/common/_flaticon.scss */
.flaticon-pencil:before {
  content: "\f123";
}

/* line 68, ../../sass/common/_flaticon.scss */
.flaticon-phone-book:before {
  content: "\f124";
}

/* line 69, ../../sass/common/_flaticon.scss */
.flaticon-phone-book-1:before {
  content: "\f125";
}

/* line 70, ../../sass/common/_flaticon.scss */
.flaticon-picture:before {
  content: "\f126";
}

/* line 71, ../../sass/common/_flaticon.scss */
.flaticon-picture-1:before {
  content: "\f127";
}

/* line 72, ../../sass/common/_flaticon.scss */
.flaticon-placeholder:before {
  content: "\f128";
}

/* line 73, ../../sass/common/_flaticon.scss */
.flaticon-push-pin:before {
  content: "\f129";
}

/* line 74, ../../sass/common/_flaticon.scss */
.flaticon-right-alignment:before {
  content: "\f12a";
}

/* line 75, ../../sass/common/_flaticon.scss */
.flaticon-settings:before {
  content: "\f12b";
}

/* line 76, ../../sass/common/_flaticon.scss */
.flaticon-share:before {
  content: "\f12c";
}

/* line 77, ../../sass/common/_flaticon.scss */
.flaticon-shield:before {
  content: "\f12d";
}

/* line 78, ../../sass/common/_flaticon.scss */
.flaticon-shield-1:before {
  content: "\f12e";
}

/* line 79, ../../sass/common/_flaticon.scss */
.flaticon-shield-2:before {
  content: "\f12f";
}

/* line 80, ../../sass/common/_flaticon.scss */
.flaticon-smartphone:before {
  content: "\f130";
}

/* line 81, ../../sass/common/_flaticon.scss */
.flaticon-speech-bubble:before {
  content: "\f131";
}

/* line 82, ../../sass/common/_flaticon.scss */
.flaticon-speech-bubble-1:before {
  content: "\f132";
}

/* line 83, ../../sass/common/_flaticon.scss */
.flaticon-tablet:before {
  content: "\f133";
}

/* line 84, ../../sass/common/_flaticon.scss */
.flaticon-unlock:before {
  content: "\f134";
}

/* line 85, ../../sass/common/_flaticon.scss */
.flaticon-upload:before {
  content: "\f135";
}

/* line 86, ../../sass/common/_flaticon.scss */
.flaticon-user:before {
  content: "\f136";
}

/* line 87, ../../sass/common/_flaticon.scss */
.flaticon-user-1:before {
  content: "\f137";
}

/* line 88, ../../sass/common/_flaticon.scss */
.flaticon-user-2:before {
  content: "\f138";
}

/* line 89, ../../sass/common/_flaticon.scss */
.flaticon-user-3:before {
  content: "\f139";
}

/* line 90, ../../sass/common/_flaticon.scss */
.flaticon-volume:before {
  content: "\f13a";
}

/* line 91, ../../sass/common/_flaticon.scss */
.flaticon-zoom-in:before {
  content: "\f13b";
}

/* line 92, ../../sass/common/_flaticon.scss */
.flaticon-zoom-out:before {
  content: "\f13c";
}

/* line 22, ../../sass/common/styleguides.scss */
.styleguides {
  margin: 2em 3%;
  background: #ffffff;
}
/* line 26, ../../sass/common/styleguides.scss */
.styleguides > h1, .styleguides > h2, .styleguides > h3, .styleguides > h4 {
  font-family: Calibri, san-serif;
  font-weight: bold;
  font-style: normal;
}
/* line 32, ../../sass/common/styleguides.scss */
.styleguides > h1 {
  font-size: 2em;
}
/* line 36, ../../sass/common/styleguides.scss */
.styleguides > h2 {
  font-size: 1.3em;
  font-weight: normal;
}
/* line 41, ../../sass/common/styleguides.scss */
.styleguides > p {
  font-weight: normal;
  margin: 2em 0;
}
/* line 45, ../../sass/common/styleguides.scss */
.styleguides > p span {
  font-weight: bold;
}
/* line 50, ../../sass/common/styleguides.scss */
.styleguides section {
  margin: 2em 0;
}
/* line 53, ../../sass/common/styleguides.scss */
.styleguides section > p {
  font-weight: normal;
  margin-bottom: 1em;
  font-style: italic;
}

/* line 61, ../../sass/common/styleguides.scss */
.container {
  width: 100%;
  margin: auto;
  background-color: grey;
  padding: 1em;
  position: relative;
}
