@font-face {
	font-family: 'modern_pictogramsnormal';
	src: url('../../font/modernpictogram/modernpics-webfont.woff2') format('woff2'),
		url('../../font/modernpictogram/modernpics-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
