.article-visit-schedule {
	background-color: $color-light;
	font-size: 80%;
	padding: 1.5em;
	display: inline-block;
	width: 100%;
	
	h1 {
		margin-top: 0;
	}

	span {
		font-weight: 300;
	}
}

/**
* Responsive width
**/

@media (min-width: 900px){
	.article-visit-schedule {
		font-size: 100%;
		padding: 2em;
	}
}