@font-face {
    font-family: 'modern_pictogramsnormal';
    src: url('./modernpics-webfont.woff2') format('woff2'),
         url('./modernpics-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}