.global-footer {
	clear: both;
	background-color: $color-light;
	width: 100%;
	height: auto;
	position: relative;
	display: block;
	padding: 1em;
	text-align: center;

	p {
		line-height: 22px;
		@include font-calibri-normal;
		margin: 0;
		color: $color-secondary;
	}

	.logo {
		width: 12em;
		margin: auto;
	}
}

.search,
.information,
.site-map,
.institutional {
	margin-top: 2em;
	display: block;
	width: 100%;
}

.institutional {
	margin-top: 0;
}

.institutional,
.line-phone {
	// h3, p {
	// 	margin-top: 2em;
	// }
}

.site-map {
	li {
		padding: .35em 0;
		color: $color-secondary;

		a:hover {
			text-decoration: underline;
		}
	}
}

.turn-online {
	a {
		@include font-calibri-bold;
		color: $color-secondary;
		text-decoration: underline;
	}
}

.line-phone {
	span {
		line-height: 1.4em;
		color: $color-secondary;
	}
}

.search-form {
	width: 100%;
	position: relative;
}

.search-input-container {
	width: calc(100% - 40px);
	position: relative;
	display: inline-block;
	margin-right: 10px;
}

.search-input {
	border: 0;
	background-color: $color-primary;
	color: $white;
	line-height: 2.4em;
	padding: 0 1em;
	width: 100%;
	font-size: 1em;
	@include border-radius(.5em);
	@include box-shadow($shadow);

	&:focus {
		outline: 0;
	}
}

.search-button {
	font-size: 0px;
	display: inline-block;
	position: relative;
	-webkit-appearance: none;
	margin: 0px;
	border: 0px;
	width: 30px;
	float: right;
	margin-top: 6px;

	&:after,
	&:before {
		content: '';
		display: inline-block;
		position: relative;
	}

	&:before {
		width: 14px;
		height: 14px;
		@include border-radius(50%);
		border: solid 3px $color-primary;
	}

	&:after {
		width: 3px;
		height: 12px;
		background: $color-primary;
		@include border-radius(20%);
		@include transform(rotate(45deg));
		position: absolute;
		bottom: -6px;
		left: 0px;
	}
}

.extra-information {
	background-color: $color-secondary;
	padding: 1.5em 3em;
	position: relative;
	width: 100%;
	display: block;
	color: $white;
	font-size: .8em;
	text-align: center;

	a {
		text-decoration: underline;
		color: $white;

		&:hover {
			background-color: $white;
			color: $color-secondary;
		}
	}
}


.turn-online {
	display: none; // NOTE: oculto
	position: relative;

	&:hover {
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			background: rgba(255, 255, 255, .8);
			position: absolute;
			z-index: 10;
			padding: 10px;
			border-radius: 10px;
			left: -6px;
			top: -9px;
		}

		&:after {
			content:'No disponible';
			text-align: center;
			color: $color-primary;
			z-index: 12;
			position: absolute;
			top: 50%;
			@include transform(translateY(-50%));
			width: 100%;
			left: 0px;
			@include font-calibri-bold();
		}
	}
}

/**
* Responsive
**/

@media (min-width: $tablet) {
	.global-footer {
		display: flex;
		// @include display-flex;
		text-align: left;

		.logo {
			margin: 0px;
		}
	}

	.search,
	.information,
	.site-map,
	.institutional {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 48%;
		margin: 0px;
		margin-right: 4%;
	}

	.search {
		width: 50%;
		margin-right: 0px;
	}

	.turn-online {
		&:hover {
			&:before {
				left: -22px;
			}

			&:after {
				left: -12px;
			}
		}
	}

	.extra-information {
		padding: 1.5em 3em;
		text-align: left;

		span {
			&:last-of-type {
				float: right;
			}
		}
	}
}

@media (min-width: $desktop) {
	.global-footer {
		padding: 2em 4em;
	}

	.search-button {
		&:hover {
			// @include opacity(.7);
		}
	}

	.turn-online {
		&:hover {
			&:before {
				left: -19px;
			}

			&:after {
				left: -11px;
			}
		}
	}

	.search,
	.information,
	.site-map,
	.institutional {
		width: 23%;
	}

	.institutional,
	.information {
		margin-right: 4%;
	}

	.information,
	.search {
		margin-top: 0em;
	}
}
