/* Contenedor del Header */
.global-header-container {
	width: 100%;
	position: relative;
	background: $white;
	z-index: 4;
	padding: .6em 1.7em;
	@include box-shadow($shadow);
}

/* Caja contenedora del Logo */
.logo-container {
	width: 72px;
	height: 100%;
	display: inline-block;
	position: relative;
	overflow: hidden;

	// width: 10em;
	// height: 100%;
	// display: inline-block;
	// position: relative;
}

/* Link a Home desde el Logo */
.logo-link-container {
	display: inline-block;

	/* Imagen Logo al 100% */
	img {
		// max-width: 100%;
		position: relative;
		vertical-align: middle;
		width: 10em;
	}
}/* Link a Home desde Logo */

.hamburguer-open-container {
	display: inline-block;
	position: absolute;
	right: 34px;
	top: 50%;
	@include transform(translateY(-50%));
}

.hamburguer-button {
	width: 30px;
	border: 0px;

	/* Lineas que arman el botón hamburguesa del Menú Mobile */
	hr {
		height: 2px;
    width: 100%;
    margin: 7px 0;
		border: 0;
		background: $color-primary;
	}
}

.global-menu-container {
	position: fixed;
	top: 0px;
	right: -100%;
	bottom: 0px;
	width: 70%;
	height: 100vh;
	z-index: 6;
	background: $color-dark-one;

	&.active-global-menu {
		&:before {
			content: '';
			position: absolute;
			top: 0px;
			right: 0px;
			bottom: 0px;
			width: 100vw;
			height: 100vh;
			display: inline-block;
			z-index: 0;
			background: $color-dark-one-opacity;
			@include opacity(.5);
		}
	}
}

/* Contenedor del Botón Hamburguesa */
.button-menu {
	position: relative;

	/* Botón Hamburguesa */
	button {
		border: 0;
		background: transparent;
		width: 100%;
		position: relative;
		vertical-align: middle;
		padding: 1em 0;
		cursor: pointer;
	}
}

/* Caja contenedora de elementos del menú */
.global-menu-content {
}/* navegación en móviles */

.global-menu-content {
}

/* Elementos contenidos en el menú */
.global-menu-item {
	text-align: right;
	border-bottom: solid 1px $white;

	a {
		padding: 2em 1em;
		display: inline-block;
		color: $white;
		width: 100%;
		position: relative;
		text-transform: uppercase;
		@include font-calibri-bold;
	}

	&:last-of-type {
		border: 0;
	}
}/* items del menu */

.hamburguer-close-menu {
	width: 100%;
	padding: 18px 1em;
	border-bottom: solid 1px $white;
	text-align: right;

	.close-button {
		width: 3em;
		height: 3em;
		border: 0px;

		@include transform(rotate(45deg));
		position: relative;
		display: inline-block;
	}

	hr {
		height: 2px;
		width: 100%;
		border: 0px;
		background: $white;

		&:last-of-type {
			top: -1px;
			@include transform(rotate(90deg));
		}
	}
}

/**
* Responsive
**/

@media (min-width: $tablet) {
}

@media (min-width: $desktop) {
	/* Elementos contenidos en el menú */
	.global-menu-item {
		&:hover {
			background-color: $color-primary-opacity;

			a {
				color: $white;
			}

			a:after {
				background-color: $white;
			}
		}
	}/* items del menu */
}

// @media (min-width: 500px) {
// 	header .logo {
// 		width: 14em;
// 		left: 1em;
// 	}
//
// 	/* Caja contenedora de elementos del menú */
// 	.menu-element ul {
// 		width: 50%;
// 	}
// }
//
// @media (min-width: 900px) {
//
// 	/* Caja contenedora de elementos del menú */
// 	.menu-element ul {
// 		width: 30%;
// 	}
// }
//
// @media (min-width: 1024px) {
// 	header {
// 		height: 5.5em;
//
// 		.logo {
// 			width: 20%;
// 			height: 100%;
// 			display: inline-block;
// 			float: left;
// 			padding: .5em 1em;
// 			position: relative;
// 			left: 3em;
//
// 			a {
// 				width: 13em;
//
// 				img {
// 					max-width: 100%;
// 					position: relative;
// 					vertical-align: middle;
// 				}
// 			}
// 		}
// 	}
//
// 	/* Contenedor del Botón Hamburguesa */
// 	.button-menu {
// 		display: none;
// 	}
//
// 	/* menú en desktop, 1024px en adelante */
// 	.menu-element {
//
// 		ul {
// 			height: 100%;
// 			width: calc(14.4em + 392.2px);
// 			float: right;
// 			position: relative;
// 			right: 2em;
// 			background-color: transparent;
// 			box-shadow: none;
// 			top: 0;
//
// 			li {
// 				padding: 0 1.8em;
// 				float: left;
// 				line-height: calc(5.5em - 6px);
// 				border: 0;
//
// 				&:hover {
// 					background-color: transparent;
//
// 					a {
// 						color: $color-primary;
// 					}
// 				}
//
// 				a {
// 					color: $color-primary;
// 					width: 100%;
// 					@include font-calibri-bold;
// 					display: inline-block;
// 					text-align: center;
//
// 					&:after {
// 						content:'';
// 						display: none;
// 					}
//
// 					&:hover,
// 					&.active {
// 						border-bottom: solid 6px $color-primary;
// 					}
// 				}
// 			}
// 		}	/* Fin menú en desktop, 1024px en adelante */
// 	}
//
// }
//
// @media (min-width: 1400px) {
//
// }
