/* Institucional */
.photograpy-information {
	margin: 0 5% 8%;
}

.photograpy-secondary {
	margin-bottom: 0em;
	margin-top: 0em;
}

.menu-instalaciones {
	display: inline-block;
	width: 100%;
	margin-bottom: 1em;

	.item-description {
		margin-bottom: 10px;
		width: 90%;
	}
}

.item-container {
	display: inline-block;
	margin-right: 2em;

	a {
		@include text-primary;
		@include font-calibri-bold;
		margin-top: 5px;
		margin-bottom: 15px;
	}

	&:last-of-type {
		margin-right: 0;
	}
}

.item-category {
	padding: .5em 0em;
	position: relative;
	@include heading-level-3();
	font-size: 1.2em;
	margin-bottom: 10px;
	display: inline-block;
	cursor: pointer;

	+ .item-description {
		display: none;
	}
}


.item-active {
	.item-category {
		&:before {
			content:'';
			position: absolute;
			bottom: 0px;
			width: 100%;
			height: 4px;
			display: inline-block;
			background: $color-primary;
		}

		+ .item-description {
			display: block;
		}
	}
}

.instalaciones-subheading {
	position: relative;
	display: block;
	padding-bottom: .25em;
	margin-bottom: 1em;
	font-size: 2em;
}

.container-all-slider {
	display: inline-block;
	width: auto;
	height: auto;
}

.menu-instalaciones {
	margin-top: -1em;
	width: 100%;
}

/**
* Responsive width
**/

@media (min-width: 735px) {
	.photograpy-information {
		margin: 0;
	}
}

@media (min-width: 700px) {
	.photograpy-primary {
		margin-top: 1em;
	}

	.menu-instalaciones {
		width: 30%;

		li {
			display: block;
		}
	}

	.container-all-slider {
		width: 70%;
		padding-left: 50px;
		float: right;
	}

	.container-slider {
		width: 100%;

		&.slider-active {
			display: inline-block;
		}
	}

	.photograpy-secondary {
		margin-bottom: .5em;
		margin-top: .5em;
	}

	.menu-instalaciones {
		margin-top: 0em;
	}
}

/**
* Responsive width
**/

@media (min-width: $tablet) {
}

@media (min-width: $desktop) {
	.item-category {
		&:before {
			content: none;
		}

		&:hover {
			&:before {
				content:'';
				position: absolute;
				bottom: 0px;
				width: 100%;
				height: 4px;
				display: inline-block;
				background: $color-primary;
			}
		}
	}
}
