* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	background: transparent;
	text-decoration: none;
	position: relative;
}

/**
* Global
**/

body {
	color: $color-primary;
	font-size: 16px;
	@include font-calibri-normal;
	position: relative;
}

img {
	width: 100%;
	height: auto;
}

a {
	display: inline-block;
	color: $color-primary;

	&:visited {
		color: $color-primary;
	}
}

button,
input {
	cursor: pointer;
	outline: 0;
}

main {
	padding: 0px 5% 5%;
	width: 100%;
	display: block;
	margin: 0 auto;
	position: relative;
}

// section {
// 	display: inline-block;
// }

.col-paragraph {
	@include text-paragraph(100%, 1, 0px);
}

/**
* Heading
**/

h1 {
	@include heading-level-1;
}

h2 {
	@include heading-level-2;
}

h3 {
	@include heading-level-3;
}

.photograpy-primary,
.photograpy-secondary {
//	margin: -5.55%;
	position: relative;
	height: auto;
	display: inline-block;

	a {
		float: left;
	}
}

.photograpy-primary {
	margin-bottom: 3em;
}

.photograpy-information {

}

/**
* Responsive
**/

@media (min-width: $tablet) {
	// .col-paragraph {
	// 	@include text-paragraph(80%, 2, 20px);
	// }
}

@media (min-width: $desktop) {
	// .photograpy-information {
	// 	padding-left: 15%;
	// 	display: inline-block;
	// 	width: 50%;
	//
	// 	.col-paragraph-photograpy {
	// 		@include text-paragraph(50%, 2, 20px);
	// 		width: 80%;
	// 	}
	// }
	//
	// .photograpy-secondary img {
	// 	width: 50%;
	// 	padding-right: 1%;
	//
	// 	&.second-img {
	// 		float: right;
	// 		padding-right: 0;
	// 		padding-left: 1%;
	// 	}
	// }
}

@media (min-width: 900px){
	// main {
	//     padding: 2% 5%;
	// }
	//
	// .col-paragraph {
	// 	@include text-paragraph(75%, 3, 20px);
	// }
}

@media (min-width: 1024px){
}

@media (min-width: 1400px){

}
