* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	background: transparent;
	text-decoration: none;
	position: relative;
}

/**
* Global
**/

body, p {
	@include text-base();
	position: relative;
}

img {
	width: 100%;
	height: auto;
}

a {
	display: inline-block;
	color: $color-primary;

	&:visited {
		color: $color-primary;
	}
}

button,
input {
	cursor: pointer;
	outline: 0;
	border: 0px;
}

// section {
// 	display: inline-block;
// }

.col-paragraph {
	@include text-paragraph(100%, 1, 0px);
}

/**
* Heading
**/

h1 {
	@include heading-level-1;
}

h2 {
	@include heading-level-2;
}

h3 {
	@include heading-level-3;
}

.photograpy-primary,
.photograpy-secondary {
	position: relative;
	height: auto;
	display: inline-block;

	a {
		float: left;
	}
}

.photograpy-primary {
	margin-bottom: 3em;
}

.photograpy-information {

}

.section-title {
	@include heading-level-2;
}

.section-title,
.subheading-section {
	margin-bottom: 20px;
}


/**
* Responsive
**/

@media (min-width: $tablet) {
	main {
		min-height: calc(100vh - 96px - 205px - 38px);
	}
}

@media (min-width: $desktop) {
	main {
		min-height: calc(100vh - 88px - 231px - 50px);
	}
}
