/**
* Item information
**/

.prevention-item {
	padding: 1.3em 1em;
	color: $color-dark;
	background-color: $color-light;
	display: block;
	margin: 1em 0;
	cursor: pointer;

	@include layout-item-information(100%, 100%);

	h2 {
		font-size: 1.3em;
		margin-bottom: 5px;
	}

	h3 {
		margin-top: 10px;
		margin-bottom: 8px;
	}

	&.active-service {
		@include box-shadow($border-shadow);
	}
}

.service-head-title {
	@include font-calibri-normal();
}

.open-service-carrousel {
	@include font-calibri-bold();
	color: $color-primary;
	margin-top: 10px;
}

/**
* Responsive
**/

@media (min-width: $tablet) {
	.prevention-item {
		@include layout-item-information(100%, 100%);
	}
}

@media (min-width: $desktop) {
	.prevention-item {
		@include layout-item-information(75%, 75%);

		&:hover {
			.open-service-carrousel {
				display: block;
			}
		}
	}

	.open-service-carrousel {
		display: none;
		margin-top: 0px;
		position: absolute;
		right: -8em;
		bottom: 1em;
	}
}
