.element-list {
	position: relative;

	h3 {
		width: 100%;
		line-height: 2em;
		font-size: 1.3em;
	}
}

.information-item {
	background-color: $color-light;
	position: relative;
	vertical-align: middle;
	display: block;
	width: 100%;
	vertical-align: top;
	margin-bottom: 1em;

	&:last-of-type {
		margin-right: 0;
	}

	@include item-circle();
	&:before {
		top: 50%;
		@include transform(translateY(-50%));
		left: -3px;
		width: 8px;
		height: 8px;
	}

	// &:hover {
	// 	background-color: $color-primary-opacity;
	// }
}

.especialidades-title {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding: 1em;
	cursor: pointer;
	width: 100%;
	text-align: left;
	@include text-base($color-tertiary);

	// &:hover {
	// 	color: $white;
	// }
}

.especialidades-subtitle {
	font-size: 21px;
	margin-bottom: 18px;
}

.especialista-item {
	color: $color-dark;
	display: block;
	text-transform: capitalize;
	padding-left: 18px;
	position: relative;
	margin-bottom: 5px;

	@include item-circle();
	&:before {
		top: 8px;
	}
}

/* Logos / Coberturas Médicas */
.logotypes-medic {
	margin-bottom: 20px;
	width: calc(50% - 2px);
	display: inline-block;
	float: right;
	height: 80px;

	img {
		display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%));
    width: 90%;
	}
}

/**
* Responsive
**/

@media (min-width: $tablet) {
	.information-item,
	.logotypes-medic {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 46%;
		margin-right: 3%;
	}
}

@media (min-width: $desktop) {
	.information-item,
	.logotypes-medic {
		width: 18%;
		margin-right: 1%;
	}
}
