.element-list {
	position: relative;

	h3 {
		width: 100%;
		line-height: 2em;
		font-size: 1.3em;
	}
}

.information-item {
	background-color: $color-light;
	position: relative;
	vertical-align: middle;
	display: block;
	width: 100%;
	vertical-align: top;
	margin-bottom: 1em;

	&:after {
		content: '';
		width: .7em;
		height: .7em;
		display: inline-block;
		background-color: $color-secondary;
		border-radius: 50%;
		position: absolute;

		left: calc(0em - .35em);
		top: calc(50% - .35em);
	}

	&:last-of-type {
		margin-right: 0;
	}

	&:hover {
		background-color: $color-primary-opacity;
	}
}

.especialidades-title {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	color: $color-tertiary;
	padding: 1em;
	cursor: pointer;
	width: 100%;

	&:hover {
		color: $white;
	}
}

.especialidades-subtitle {
	font-size: 21px;
	margin-bottom: 18px;
}

.especialista-item {
	color: $color-dark;
	display: block;
}

/* Logos / Coberturas Médicas */
.logotypes-medic {
	margin-bottom: 1em;

	img {
		display: block;
		width: 95%;
		margin: auto;
	}
}

.show {
	display: block !important;
}

/**
* Responsive
**/

@media (min-width: $tablet) {
	.information-item,
	.logotypes-medic {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 46%;
		margin-right: 3%;
	}
}

@media (min-width: $desktop) {
	.information-item,
	.logotypes-medic {
		width: 18%;
		margin-right: 1%;
	}
}
