/*
 * NOTE: Estudios
 */

.estudios-content {

}

.estudios-tipos {
  display: block;
  width: 100%;
  @include display-flex;
}

.estudios-tipo-item {
  width: 50%;
  padding: 1em;
  float: right;
  background: $color-light;
  padding-bottom: calc(1em - 3px);
  border-bottom: solid 3px $color-primary;
  @include border-radius(6px 6px 0px 0px);

  strong {
    @include text-base();
    @include text-base-full-desktop();
    color: $color-dark;
  }

  &.active {
    padding: calc(1em - 3px);
    padding-bottom: 1em;
    border: solid 3px $color-primary;
    border-bottom: 0px;
    background: $color-primary;

    strong {
      @include font-calibri-bold;
      color: $white;
    }
  }
}

.estudios-tipo-item-nombre {

}

.estudios-tipo-item-descripcion {

}

.estudios-list-container {
  background: $color-light;
  padding: 1em;
  display: none;

  &.active {
    display: block;
  }
}

.estudios-item {

}

.estudios-item-nombre {
  @include text-base();
  @include text-base-full-desktop();
  display: block;
  width: 100%;
  padding: .5em 0px;
  padding-left: 15px;
  text-align: left;

  @include item-circle();
  &:before {
    top: 50%;
    @include transform(translateY(-50%));
  }
}

.estudios-item-descripcion {

}

@media (min-width: $mobile) {
}

@media (min-width: $tablet) {
}

@media (min-width: $desktop) {
  .estudios-item-nombre {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

@media (min-width: $full_desktop) {
}
