/* Animacion de botones */
@keyframes buttonSlider {
    from {
		width: 35px;
		height: 35px;
	}

    to {
		background: $color-secondary;
		width: 45px;
		height: 45px;
		opacity: .7;
		@include box-shadow($shadow);
	}
}

/* Botones Anterior y Siguiente */
.button-prev,
.button-next {
	border: 0;
	background: $color-primary;
	width: 35px;
	height: 35px;
	position: absolute;
	top: calc(35% - 17px);
	@include transform(rotate(-90deg));
	@include border-radius(50%);
	z-index: 100;
	cursor: pointer;

     &:before,
     &:after {
          content: '';
          background: $color-light;
          width: 2px;
          height: 15px;
          display: inline-block;
          margin: auto;
          @include transform(rotate(45deg));
     }

	&:after {
		@include transform(rotate(-45deg));
          margin-left: 9px;
	}

	&:hover {
		animation-name: buttonSlider;
		animation-duration: .3s;
		animation-fill-mode: forwards;
	}
}

.button-prev {
	left: 22px;
}

.button-next {
	@include transform(rotate(90deg));
	right: 22px;
}

/* Nuevos estilos */
.container-slider {
     width: 100%;
     position: relative;
     margin: 0 auto;
     display: none;
     overflow: hidden;

     &.slider-active {
          display: block;
     }

     img {
          width: 100%;
          display: inline-block;
          height: auto;
          max-width: 100%;
     }
}

.image-primary {
     position: relative;
     width: 100%;
     @include box-shadow($shadow);
}

.content-imagen {
     width: 500%;
     height: auto;
     display: block;
}

.content-image-primary {
     width: 20%;
     float: left;
     position: relative;
     display: inline-block;

     img {
          width: 100%;
          height: auto;
          display: block;
     }
}

.image-description {
     position: absolute;
     width: 100%;
     padding: 10px;
     bottom: 0;
     background: rgba(13, 71, 72, .7);
	color: $color-light;
}

.container-image-secondary {
     width: 104%;
     left: -2%;
     display: inline-block;
     margin-top: .5em;
     height: auto;
     position: relative;
}

.image-secondary {
     width: 23%;
     margin: 0% 1%;
     height: auto;
     display: block;
     float: left;
     margin-bottom: .5em;

     &:hover {
		&:after {
			content: '+';
			color: $color-light;
			width: 100%;
			top: 45%;
			@include transform(translateY(-50%));
			text-align: center;
			position: absolute;
			z-index: 1;
			left: 0;
			font-size: 45px;
			line-height: 1.25;
		}

		&:before {
			content: '';
			position: absolute;
			background: rgba(13, 71, 72, .7);
			top: 0;
			left: 0;
			width: 100%;
			height: calc(100% - 2px);
			z-index: 1;
			display: inline-block;
		}
	}
}
