$color-primary: #0d4748; /* Verde oscuro */
$color-secondary: #34694e; /* Verde oscuro para títulos */
$color-tertiary: #3d8232; /* Verde claro */
$color-light: #f2f1f1; /* Gris claro */
$color-dark: #444444; /* Gris oscuro, texto */

$color-rolover: #9db5b6;

$white: #ffffff;
$shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);